<!-- PARTICIPANT -->
<%
participant = pscore[:participant]
%>
<TR  class="row" id="<%= prefix %>_feedback" style="display:none">
  <TD COLSPAN="9"><%= render :partial=>'grades/author_feedbacks', :locals => {:prefix => 'user', :participant => participant, :rscore => pscore[:feedback]} %></TD>
</TR>
