<!-- FEEDBACKS --> 
<% if rscore and rscore[:assessments].length > 0 %>
  <BR/>
  <%= render :partial => 'grades/review_table',
           :locals => {
           :ctrl => 'review_feedback',
           :caction => 'view',
           :symbol => "feedback".to_sym,
           :prefix => prefix,
           :assignment => participant.assignment,
           :reviews => rscore[:assessments],
           :collabel => "Feedback",
           :rowlabel => "Author"
           }%>
  <BR/>
    <p>Test</p>

  <!-- Normal reviews may have feedback reviews -->
  <% has_feedback_support = 0%>
  <%= render :partial => 'grades/review_score_summary', :locals => { :symbol => "feedback".to_sym,:prefix => prefix, :rscore => rscore, :has_feedback_support => has_feedback_support}%>
    <p>TEST END</p>
  <HR/> 

<% else %>
  <i>No author feedback has been provided for this user's reviews.</i>
<% end %>
<!-- END FEEDBACKS -->