<!-- FEEDBACKS --> 
<% if rscore and rscore[:assessments].length > 0 %>
  <BR/>
  <%= render :partial => 'grades/review_table',
           :locals => {
           :ctrl => 'review_feedback',
           :caction => 'view',
           :symbol => "feedback".to_sym,
           :prefix => prefix,
           :assignment => participant.assignment,
           :reviews => rscore[:assessments],
           :collabel => "Feedback",
           :rowlabel => "Author"
           }%>
  <BR/>         
  <HR/> 

  <% if controller.action_name != "view_my_scores" %>
          <a name="<%=prefix+"_"+rscore[:assessments][0].map.reviewer.name%>"></a><%= rscore[:assessments][0].display_as_table(rscore[:assessments],prefix) %><BR/><BR/>
        <% else %>
          <%= rscore[:assessments][0].display_as_table(rscore[:assessments],nil) %><BR/><BR/>
    <% end %>
       </table>

<% else %>
  <i>No author feedback has been provided for this user's reviews.</i>
<% end %>
<!-- END FEEDBACKS -->