<table class="table table-striped participants" width="100%">
  <% tscore[:team].participants.each_with_index do |participant, index| %>
    <% pscore = @scores[:participants][participant.id.to_s.to_sym] %>
    <tr style="background-color: white">
      <td>
        <b> <%= participant.(session[:ip]) %></b>
        <FONT SIZE="-1"><a href="../grades/view_team?id=<%= participant.id%>"  >view heatgrid</a></FONT>
      </td>
    </tr>
  <% end %>
</table>

