<!-- PARTICIPANTS --> 
<%= render :partial => 'participant_title', :locals => {:prefix => nil}%>
<%
    index = 0
    max_penalty = 0
    total_penalty_for_all = 0
%>
<% @assignment.participants.each { | participant | %>
    <%= render :partial => 'grades/participant',
                :locals => {
                    :prefix => 'user_'+index.to_s,
                    :team => false,
                    :pscore => @scores[:participants][participant.id.to_s.to_sym]
                }
    %>
    <%

        total_penalty = 0
        @penalties = CalculatedPenalty.find_all_by_participant_id(participant.id)
        @penalties.each do |p|
          total_penalty += p.penalty_points
        end


        if(max_penalty < total_penalty)
            max_penalty = total_penalty
        end
        total_penalty_for_all += total_penalty
        index += 1
    }
    avg_penalty = total_penalty_for_all / index
    %>

<table>
  <tr>
    <td>
      Average Penalty : <%= avg_penalty %>
    </td>
  </tr>
  <tr>
    <td>
      Maximum Penalty : <%= max_penalty %>
    </td>
  </tr>
</table>
<!-- END PARTICIPANTS --> 