<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<% if participant.get_submitted_files() %>
<b>Submitted Files</b><br/>
  <div id="files_submitted">
     <%= display_directory_tree(participant, participant.get_submitted_files(), true) %>
  </div>
<<<<<<< HEAD
=======
=======
<% if participant.get_submitted_files() %>
<b>Submitted Files</b><br/>
  <div id="files_submitted">
     <%= display_directory_tree(participant, participant.get_submitted_files(), true) %>
  </div>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<% if participant.get_submitted_files() %>
<b>Submitted Files</b><br/>
  <div id="files_submitted">
     <%= display_directory_tree(participant, participant.get_submitted_files(), true) %>
  </div>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<% end %>