<% if participant.get_submitted_files() %>
<b>Submitted Files</b>&nbsp;&nbsp;&nbsp;<a href="#" id="filesLink" name="filesLink" onClick="toggleElement('files','files');return false;">show files</a><br/>
  <div id="files" style="display:none">
     <%= display_directory_tree(participant, participant.get_submitted_files(), true) %>
  </div>
<% end %>