<% namecolwidth=20 %>
<% colwidth=12 %>
<TR class="team" <% if prefix %>id='<%= prefix %>_<%= num + 4 %>' style="display:none"<% end %>>
<TH>&nbsp;</TH>
<TH COLSPAN="6">Submitted work</TH>
<TH WIDTH="9">&nbsp;</TH></TR>

<TR class="team" <% if prefix %>id='<%= prefix %>_<%= num + 5 %>' style="display:none"<% end %>>
<TH>Team</TH>
<TH COLSPAN="3" >Average</TH>
<TH COLSPAN="3" >Range</TH>
<TH WIDTH="9">&nbsp;</TH></TR>
