<a href='#' id='team-chartLink' onClick="toggleElement('team-chart', 'stats');return false;">Hide stats</a>
<br>
<!--E1877: table added for the charts to make them align-->
<table class='table table-striped ' style='width:100%'>
<tr style="background-color: white;" class="team" id="team-chart">
  <!--E1877: tags changed from <th> to <td>-->
  <td id='_team_charts-table'>
    <%= render :partial => 'team_charts_averages' %>
  </td>

  <td id='_team_charts-table'>
    <%= render :partial => 'team_charts_rubric_stats' %>
  </td>

  <td id='_team_charts-table'>
    <%= render :partial => 'team_charts_distribution' %>
  </td>
</tr>
</table>

<style>
  td#_team_charts-table{
    text-align: center;
    vertical-align: middle;
  }
</style>
