<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawSingleChart);

    var round_names = [
        "Round 1",
        "Round 2"
    ];
    var criteria_names = [
        ["Criterion 1",
            "Criterion 2",
            "Criterion 3",
            "Criterion 4",
            "Criterion 5"],
        ["Criterion 6",
            "Criterion 7",
            "Criterion 8",
            "Criterion 9"]
    ];

    var avg_data = [
        [76, 84, 54, 92, 64], // Round 1
        [64, 92, 78, 54] // Round 2
    ];

    var assignment_avg_data = [
        [
            [74, 86, 56, 98, 66], // Round 1
            [66, 98, 72, 56] // Round 2
        ],
        [
            [66, 94, 64, 82, 74], // Round 1
            [74, 82, 88, 64] // Round 2
        ]
    ];

    var assignment_names = ["OSS project/Writing assignment 2", "Final Project Design Document Fall2015"];

    var assignment_name = "Final Project (and Design Document)";

    var med_data = [
        [3, 3.5, 2.5, 3.5, 3],
        [3, 3.5, 3, 2.5]
    ];

    var source_data = avg_data;

    var selected_assignment = 0;

    function buildSelectArray(prefix, length) {
        var selected = [];
        for (i = 0; i < length; i++) {
            var eID = prefix+"_"+i+"_selector";
            var selector = document.getElementById(eID);
            selected.push(selector.checked);
        }
        return selected;
    }
    var selected_round = 0;
    function toggleRound(control) {
        selected_round = control.selectedIndex;
        for (var round = 0; round < round_names.length; round++) {
            var roundDiv = document.getElementById("round_"+round+"_criteria");
            var display = null;
            if (round != selected_round) display = "none";
            roundDiv.style.display = display;
        }
        drawChart();
    }

    var selected_assignment_round = 0;
    function toggleAssignmentRound(control) {
        selected_assignment_round = control.selectedIndex;
        renderCompareUI();
    }

    function renderCompareUI() {
        for (var assignment = 0; assignment < assignment_names.length; assignment++) {
            for (var round = 0; round < round_names.length; round++) {
                eID = "assignment_"+assignment+"_round_"+round+"_criteria";
                var roundDiv = document.getElementById(eID);
                var display = null;
                if (assignment != selected_assignment || round != selected_assignment_round) display = "none";
                roundDiv.style.display = display;
            }
        }
        drawChart();
    }


    function toggleMetric(control) {
        var data = [avg_data, med_data];
        source_data = data[control.selectedIndex];
        drawChart();
    }

    function toggleAssignment(control) {
        selected_assignment = control.selectedIndex;
        renderCompareUI();
    }
    // Callback that creates and populates a data table,
    // instantiates the column chart, passes in the data and
    // draws it.
    function drawSingleChart() {
        var selected_criteria = buildSelectArray("round_"+selected_round+"_criterion", criteria_names[selected_round].length);

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Criteria');
        data.addColumn('number', round_names[selected_round]);
        var rows = [];
        for (criterion = 0; criterion < selected_criteria.length; criterion++) {
            if (!selected_criteria[criterion]) {
                continue;
            }
            var row = [criteria_names[selected_round][criterion]]
            row.push(source_data[selected_round][criterion]);
            rows.push(row);
        }
        data.addRows(rows);
        // Set chart options
        var options = {
            'title':'Class Performance By Criterion',
            'width':600,
            'height':250
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
    // Callback that creates and populates a data table,
    // instantiates the column chart, passes in the data and
    // draws it.
    function drawCompareChart() {
        var prefix = "assignment_"+selected_assignment+"_round_"+selected_assignment_round+"_criterion";
        var selected_criteria = buildSelectArray(prefix, criteria_names[selected_assignment_round].length);

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Criteria');
        data.addColumn('number', assignment_name);
        data.addColumn('number', assignment_names[selected_assignment]);
        var rows = [];
        for (criterion = 0; criterion < selected_criteria.length; criterion++) {
            if (!selected_criteria[criterion]) {
                continue;
            }
            var row = [criteria_names[selected_assignment_round][criterion]]
            row.push(source_data[selected_assignment_round][criterion]);
            row.push(assignment_avg_data[selected_assignment][selected_assignment_round][criterion]);
            rows.push(row);
        }
        data.addRows(rows);
        // Set chart options
        var options = {
            'title':'Class Performance By Criterion For ' + round_names[selected_assignment_round],
            'width':600,
            'height':250
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    var drawChart = drawSingleChart;

    var tabCount = 2
    function switchToTab(newTab) {
        var chartFuncs = [drawSingleChart, drawCompareChart]
        for (tab = 0; tab < tabCount; tab++) {
            var display = null;
            if (tab != newTab) display = "none";
            var selector = document.getElementById("tab_"+tab+"_selector").style;
            selector.display = display;
            var tabDiv = document.getElementById("tab_"+tab).style;
            tabDiv.display = display;
        }
        drawChart = chartFuncs[newTab];
        drawChart();
    }
</script>

<div id="tab_0_selector">Analyze Assignment | <a href="javascript:void(0);" onclick="switchToTab(1); return false;">Compare Assignments</a></div>
<div id="tab_1_selector" style="display:none"><a href="javascript:void(0);" onclick="switchToTab(0); return false;">Analyze Assignment</a> | Compare Assignments</div>
<div id="chart_div"></div>
<div align="center" id="tab_0">
  <table>
    <tr valign="top">
      <td>
        <div><label>Round:</label></div>
        <div><select id="round_selector" onchange="toggleRound(this);">
          <option selected="true">Round 1</option>
          <option>Round 2</option>
        </select></div>

      </td>
      <td>
        <div><label>Criteria:</label></div>
        <div id="round_0_criteria">
          <div><label><input id="round_0_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 1</label></div>
          <div><label><input id="round_0_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 2</label></div>
          <div><label><input id="round_0_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 3</label></div>
          <div><label><input id="round_0_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 4</label></div>
          <div><label><input id="round_0_criterion_4_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 5</label></div>
        </div>
        <div id="round_1_criteria" style="display:none">
          <div><label><input id="round_1_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 6</label></div>
          <div><label><input id="round_1_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 7</label></div>
          <div><label><input id="round_1_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 8</label></div>
          <div><label><input id="round_1_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 9</label></div>
        </div>
      </td>
      <td>
        <div><label>Metric:</label></div>
        <div><select id="metric_selector" onchange="toggleMetric(this);">
          <option>Mean</option>
          <option>Median</option>
        </select></div>
      </td>
    </tr>
  </table>
</div>
<div align="center" id="tab_1" style="display:none">
  <table>
    <tr valign="top">
      <td>
        <div><label>Assignment:</label></div>
        <div><select id="assignment_selector" onchange="toggleAssignment(this);">
          <option selected="true">OSS project/Writing assignment 2</option>
          <option>Final Project Design Document Fall2015</option>
        </select></div>

      </td>
      <td>
        <div><label>Round:</label></div>
        <div><select id="assignment_round_selector" onchange="toggleAssignmentRound(this);">
          <option selected="true">Round 1</option>
          <option>Round 2</option>
        </select></div>

      </td>
      <td>
        <div><label>Criteria:</label></div>
        <div id="assignment_0_round_0_criteria">
          <div><label><input id="assignment_0_round_0_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 1</label></div>
          <div><label><input id="assignment_0_round_0_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 2</label></div>
          <div><label><input id="assignment_0_round_0_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 3</label></div>
          <div><label><input id="assignment_0_round_0_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 4</label></div>
          <div><label><input id="assignment_0_round_0_criterion_4_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 5</label></div>
        </div>
        <div id="assignment_0_round_1_criteria" style="display:none">
          <div><label><input id="assignment_0_round_1_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 6</label></div>
          <div><label><input id="assignment_0_round_1_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 7</label></div>
          <div><label><input id="assignment_0_round_1_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 8</label></div>
          <div><label><input id="assignment_0_round_1_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 9</label></div>
        </div>
        <div id="assignment_1_round_0_criteria" style="display:none">
          <div><label><input id="assignment_1_round_0_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 1</label></div>
          <div><label><input id="assignment_1_round_0_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 2</label></div>
          <div><label><input id="assignment_1_round_0_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 3</label></div>
          <div><label><input id="assignment_1_round_0_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 4</label></div>
          <div><label><input id="assignment_1_round_0_criterion_4_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 5</label></div>
        </div>
        <div id="assignment_1_round_1_criteria" style="display:none">
          <div><label><input id="assignment_1_round_1_criterion_0_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 6</label></div>
          <div><label><input id="assignment_1_round_1_criterion_1_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 7</label></div>
          <div><label><input id="assignment_1_round_1_criterion_2_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 8</label></div>
          <div><label><input id="assignment_1_round_1_criterion_3_selector" type="checkbox" checked="true" onclick="drawChart();"/>Criterion 9</label></div>
        </div>
      </td>
      <!--td>
          <div><label>Metric:</label></div>
          <div><select id="metric_selector" onchange="toggleMetric(this);">
              <option>Mean</option>
              <option>Median</option>
          </select></div>
      </td-->
    </tr>
  </table>

</div>
