<a href="#" name='team-chartLink' onClick="toggleElement('team-chart', 'stats');return false;">Hide stats</a>
<br>

<TR style ="background-color: white;" class="team" id="team-chart">
	<th>

	<div class="circle" id="average-score">          
  			
  	</div>
  	Class Average
	</th>
	<TH COLSPAN="8">
		<img src="<%= @average_chart  %>" ><br>
		Class Distribution
		<br>
	</th>
	<TH WIDTH="9">&nbsp;</th>
</TR>


<script type="text/javascript">
  var myCircle = Circles.create({
    id:           'average-score',
    radius:       50,
    value:        <%= @avg_of_avg.to_i %>,
    maxValue:     100,
    width:        15,
    text:         '<%=@avg_of_avg.to_i%>',
    colors:       ['#FFEB99', '#FFCC00'],
    duration:       700,
    textClass:      'circles-final'  
  });

</script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Class Overall Grades, by rubric item'
        },
        xAxis: {
            categories: ['R1', 'R2', 'R3', 'R4', 'R5'] /* Rubric Items */
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Percentage of teams'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            'name': '1',
            'data': [50, 3, 4, 7, 2],
            'stack': 'S1'
        }, {
            'name': '2',
            'data': [30, 4, 4, 2, 5],
            'stack': 'S1'
        }, {
            'name': '3',
            'data': [3, 4, 4, 2, 5],
            'stack': 'S1'
        }, {
            'name': '4',
            'data': [3, 4, 4, 2, 5],
            'stack': 'S1' /* Submission 1 */
        }, {
            'name': '5',
            'data': [3, 4, 4, 2, 5],
            'stack': 'S1'
        }, {
            'name': '1',
            'data': [2, 5, 6, 2, 1],
            'stack': 'S2' /* Submission 2 */
        }, {
            'name': '2',
            'data': [3, 1, 4, 4, 3],
            'stack': 'S2'
        }, {
            'name': '3',
            'data': [3, 2, 4, 4, 3],
            'stack': 'S2'
        }, {
            'name': '4',
            'data': [3, 3, 4, 4, 3],
            'stack': 'S2'
        }, {
            'name': '5',
            'data': [3, 4, 4, 4, 3],
            'stack': 'S2'
        }]
    });
</script>

<style>
 .circles-final{
    font-size: 16px !important;    
  }
</style>

<% @team_data.each do |team| %>
    <h3>--- TEAM ---</h3>
    <% team.each do |vm| %>
        <% vm.list_of_rows.each do |row| %>
            <h5>[ROW]</h5>
            <% row.score_row.each do |score| %>
                <%= score.score_value.to_s %>
            <% end %>
        <% end %>
    <% end %>
<% end %>