<% namecolwidth=20 %>
<% colwidth=12 %>
<TR class="team" <% if prefix %>id='<%= prefix %>_<%= num + 4 %>' style="display:none"<% end %>><TH>&nbsp;</TH><TH COLSPAN="2">Submitted work</TH><TH COLSPAN="3">&nbsp;</TH></TR>
<TR class="team" <% if prefix %>id='<%= prefix %>_<%= num + 5 %>' style="display:none"<% end %>><TH>Team</TH><TH>Average</TH><TH>Range</TH><TH COLSPAN="3">&nbsp;</TH></TR>
