$('user_reviews').html("<TD COLSPAN='9'><%= render :partial=>'grades/reviews', :locals => {:prefix => 'user', :participant => @participant, :rscore => @score} %></TD>");
$("#user_reviews").html("hello world");