<h1>Thank you for your input.</h1>
<% if @surveys %>
<% if @surveys.length != 1 -%>
	<p>Other surveys for this assignment: </p>
	<% form_tag(:action => 'create') do %>
			<select name="survey_id">
				<% for survey in @surveys %>
					<% if @survey.id != survey.id %>
						<option value="<%= survey.id %>"><%= survey.name %></option>
					<% end %>
				<% end %>
			</select>
			<input type="hidden" name="assignment_id" value="<%= @assignment_id %>" />
			<%= submit_tag "Go", :name=>"go" %>
	<% end %>
<% end -%>
<% else %>
<p>Please log back in to continue.</p>	
<% end %>