<<<<<<< HEAD
<<<<<<< HEAD
<h3>Thank you for your suggestion!</h3>

=======
<h3>Thank you for your suggestion!</h3>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<h3>Thank you for your suggestion!</h3>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
<%= link_to 'Back', :controller => 'student_task', :action => 'list' %>