<h1>Teams for <%= @root_node.get_name %></h1>

<script>
  $(function(){
    $("#tabs").tabs();
  });
</script>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1" id="General">Teams</a></li>
    <% if @is_valid_assignment %>
      <li><a href="#tabs-2" id="Topics">Students without teams</a></li>
    <% end %>
  </ul>
  <div id="tabs-1"><%= render partial: 'team' %></div>
    <% if @is_valid_assignment %>
      <% participants_without_team = get_participants_without_team(@assignment) %>
      <div id="tabs-2">
        <table>
          <th>name</th>
          <% participants_without_team.each_with_index do |participant, index| %>
            <tr class=<%= index.odd? ? 'odd' : 'even' %>><td><%= participant.name(session[:ip]) %></td></tr>
          <% end %>
        </table>
      </div>
    <% end %>
</div>