<h1>Teams for <%= @root_node.get_name %></h1>

<script>
  $(function(){
    $("#tabs").tabs();
  });
</script>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1" id="General">Teams</a></li>
    <li><a href="#tabs-2" id="Topics">Students without teams</a></li>
  </ul>
  <div id="tabs-1"><%= render partial: 'team' %></div>
  <div id="tabs-2"><%%></div>
</div>
