<%if @method_name == "managing_bookmarks"
    @heading = "View My Bookmarks"
elsif @method_name == "viewing_bookmarks"
  @heading = "View All Bookmarks"
elsif @method_name == "search_bookmarks"
  @heading = "View Search Results"
end
%>
<% if @search_string == nil
     @search_string = ""
end
if @my_user == nil
  @my_user = ""
end
%>

<h3> <%= @heading %> </h3> <br />
<%@local = @method_name %>

<%if @order_by == "most_recent" %><b><u><% end %><%= link_to('View most recent', :controller =>'bookmarks', :action => 'manage_bookmarks', :order_by =>'most_recent',:s=>@search_string,:users=>@my_user ) %></u></b>


<%if @order_by == "most_popular" %><b><u><% end %><%= link_to('View most popular', :controller =>'bookmarks', :action => 'manage_bookmarks', :order_by =>'most_popular',:s=>@search_string,:users=>@my_user) %> </u></b>


<% if @method_name == "managing_bookmarks" %><%= link_to('Add New', :controller =>'bookmarks', :action =>'add_bookmark_form')%> |
<% end %>
