<h3> Search Among My Bookmarks </h3>
<br />
Enter tags you want to search for separated by a comma ","
<% form_tag(:action => "search_bookmarks") do%>
  <%= text_field_tag(:s) %>
  <%= hidden_field_tag(:users, :value => session[:user].id) %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>
