This is the index page <br />
This the main oage of the bookmarks - the all results page View bookmarks
<% render partial search form _searchindex%>
<% render partial options available _options_available %>
<% render partial all records result _records, local => my result record%>

