This is the manage your bookmarks page
<%= render :partial => 'searchmine' %>
<br />

<%= render :partial => 'options'%>
<br />

<%= render :partial => 'results' %>
<br/>

<%= link_to('Back', :back) %>

