<b>Bookmarks for the Topic:</b>
<%=@topic.topic_name%>
<br/>
<br/>
<%= render :partial => 'results' %>
<%= hidden_field_tag "id", @assignment_id %>
<%= hidden_field_tag "tid", @topic.id %>
<br/>
<br/>
<%= link_to('Back',:controller => 'sign_up_sheet', :action => 'add_signup_topics', :id => @assignment_id) %>
