<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label><br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>

<!--[eoform:course]-->
<br/>
