<% if @review_scores1.size >0 %>
<table class=listing cellpadding =2>
    <tr>
        <th>Questions</th><th>Comments</th><th>Score</th>
    </tr>
    <% for @rs in @review_scores1 %>
        <tr>
            <td>
                <%=Question.find(@rs.question_id).txt%>                
            </td>
            <td>
                <%=@rs.comments%>
            </td>
            <td><%=@rs.score%></td>
        </tr>
    <% end %>
</table>
<% end %>