<%= render :partial => 'submitted_content/main', :locals => {:stage => nil} %>
<br/>
<%= @review.display_as_html() %><BR/><BR/><BR/>
<% map = FeedbackMapping.find_by_reviewed_object_id(@review.id)
   if map
   		review_feedback = ReviewFeedback.find_by_mapping_id(map.id)
   	    if review_feedback  %>	     
   		  <%= review_feedback.display_as_html() %><BR/><BR/>
   		<% end %>
   <% end %>


