<h1>Reviews</h1>

<table class="listing" cellpadding=2>
  <tr>
    <th>Review-id</th>
	<th>Feedback</th>
  </tr>

<%for review_map in @review_mapping 
    for review in review_map.reviews
        for review_feedback in review.review_feedbacks%>
            <tr class="listingRow"><td><%=review.id%></td><td><%=review_feedback.txt%></td></tr>
   <%   end
   end
  end%>
  </table>

