<h1>Reviews</h1>

<table class="listing" cellpadding=2>
  <tr>
    <th>Review-id</th>
	<th>Feedback</th>
  </tr>
  
  Mappings for the user
  <%for review_map in @review_mapping %>
  <%=review_map.id%>
  <%= link_to "View review",{:controller => 'review', :action => 'view_review', :id => review_map.id} %>
  <% end %>

  
  
 
  </table>

