
<h1>New Review</h1>
<%= render :partial => 'wiki' %>

<%= start_form_tag :action => 'create_review' %>
  	<%= render :partial => 'review' %>
         <%= hidden_field_tag('mapping_id', @mapping.id) %>
         <%= hidden_field_tag('assgt_id', @assgt.id) %>
		 
  	<%= submit_tag "Create Review", :name=>"save" %>       
<%= end_form_tag %>
<br />

<%= link_to 'Back', :action => 'list_reviews', :id => @assgt.id %>

