<%= render :partial => 'view' %>
<% if params[:where] == nil%>
<%= link_to 'Back', :action => 'list_reviews', :id => @assgt.id %>
<%else%>
<%= link_to 'Back',:controller=>'assignment', :action => 'view_report', :id => @assgt.id %>
<%end%>

