Hi <%= @first_name %>,<BR/>
<BR/>
<p>Your Expertiza password has been reset. We strongly recommend
that you change the password the next time you access the application.</p>

User Name: <%= @user.name %><BR/>
E-mail address: <%= @user.email %><BR/><BR/>
New password: <%= @password %><BR/>
