<% if flash[:notice] != nil and flash[:notice].strip != "" %>
<div class="flash_error">
 <%= flash[:notice] %>
</div>
<% end %>
<br/>
<br/>
<p>I understand that my homework submissions and reviews will be  
stored on a server at NC State University.  The software restricts  
access to review data so that only I, my instructor, teaching  
assistant (if any), and reviewers can see it.  However, I understand  
that, in the unlikely event of a server breach, this data could be  
disclosed to others.</p>
<%= link_to 'Accept', :action => 'eula_yes'%>&nbsp;&nbsp;<%= link_to 'Decline', :action => 'eula_no'%> 