<%h1 New note %>

<%= render :partial => 'form' %>

<!--
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  <div class="row">
    <label for="subject">Subject:</label><br />
    <input id="subject" class="input" name="subject" type="text" value="" size="30" /><br />
  </div>
  <div class="row">
    <label for="message">Your message:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
  </div>
</form>
-->

<%= link_to "Cancel", note_url %>
