<TD WIDTH="15%">
  <ul id="actionmenu">
    <li class="daddy">&nbsp;
      <ul>
        <li><%= link_to 'Create Public '+node.get_name, :controller=>'questionnaire', :action=>'new_questionnaire', :type_id => Node.find(node.parent_id).node_object_id, :private => 0 %></li>  
        <li><%= link_to 'Create Private '+node.get_name, :controller=>'questionnaire', :action=>'new_questionnaire', :type_id => Node.find(node.parent_id).node_object_id, :private => 1 %></li>          
      </ul>
    </li>
  </ul>        
</TD>