<% owner_id = Object.const_get('Questionnaire').find(node.node_object_id).instructor_id %>

<TD WIDTH="15%">
<ul id="actionmenu"><li class="daddy">&nbsp;
<ul>
<%= render :partial => '/tree_display/actions/shared_actions', :locals => {:model => 'Questionnaire', :controller => 'questionnaire', :node => node, :owner_id => owner_id} %>
<div>
  <%= link_to image_tag('/images/tree_view/view-survey-24.png', :title => 'View questionnaire'),:controller=>'questionnaire', :action=>'view', :id => node.node_object_id %>
</div>
</ul>
</li></ul>       
</TD>