<<<<<<< HEAD
<TD WIDTH="15%" align = "center">
<%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team Member", :title => "Delete Team Member"), :controller=>'teams_users', :action=>'delete', :id => node.node_object_id %>
=======
<<<<<<< HEAD
<<<<<<< HEAD
<TD WIDTH="15%" align = "center">
<%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team Member", :title => "Delete Team Member"), :controller=>'teams_users', :action=>'delete', :id => node.node_object_id %>
=======
<TD WIDTH="15%" align = "center">
<%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team Member", :title => "Delete Team Member"), :controller=>'teams_users', :action=>'delete', :id => node.node_object_id %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<TD WIDTH="15%" align = "center">
<%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team Member", :title => "Delete Team Member"), :controller=>'teams_users', :action=>'delete', :id => node.node_object_id %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
</TD>