<TD WIDTH="15%">
<ul id="actionmenu"><li class="daddy">&nbsp;
  <ul>
    <li><%= link_to 'Remove Team Member', :controller=>'teams_users', :action=>'delete', :id => node.node_object_id %></li>
  </ul>
</ul>
</TD>