<TD WIDTH="15%" align = "center">
  <%= link_to image_tag("plus.png", :border=>0,:alt => "Add Team Member", :title => "Add Team Member" ), :controller=>'teams_users', :action=>'new', :id => node.node_object_id %>
  <%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team", :title => "Delete Team"), :controller=>'teams', :action=>'delete', :id => node.node_object_id %>
  <%= link_to image_tag("edit_icon.png", :border=>0, :alt => "Edit Team Name", :title => "Edit Team Name"), :controller=>'teams', :action=>'edit', :id => node.node_object_id %>
</TD>