%h1 Listing submission_histories

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @submission_histories.each do |submission_history|
      %tr
        %td= link_to 'Show', submission_history
        %td= link_to 'Edit', edit_submission_history_path(submission_history)
        %td= link_to 'Destroy', submission_history, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Submission history', new_submission_history_path
