<h1>Mentored Teams</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%# @meeting.Date %>
</p>
<p>
  <b>Team ID:</b>
  <%# @meeting.TeamID %>
</p>

<%# link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
