<h1> Class Performance Rubric</h1>
<h4> Select any number of rubric criterias from the following </h4>

<center>
<select multiple size = 10>
<% @results.each do |result| %>
  <option value="value">  <%= result.txt %> </option>
<% end %>
</select>
</center>

<%= form_for :class_performance do |f| %>
  <%= f.select :phone_type, @result.txt, :prompt => 'Select One' %>  

<% end %>
