<SCRIPT LANGUAGE="JavaScript">
function toggleVis(id) {
                var elem = document.getElementById(id+"_myDiv");
                if(elem.style.display == 'none'){
                        elem.style.display = '';
                        document.getElementById(id+"_show").style.display = 'none';
                        document.getElementById(id+"_hide").style.display = '';
                } else {
                        elem.style.display = 'none';
                        document.getElementById(id+"_show").style.display = '';
                        document.getElementById(id+"_hide").style.display = 'none';
                }
        }
</SCRIPT>

<h1>Leaderboards for <%=@user.fullname%></h1>

<a href="#1" onClick="toggleVis('top3Leaderboard');">	
  <span id="top3Leaderboard_show">View Top 3 Leaderboards</span>
  <span id="top3Leaderboard_hide" style="display: none">Hide Top 3 Leaderboards</span>
</a>
<br/><br/>
<div id="top3Leaderboard_myDiv" style="display:none">
  <%= render :partial => 'top3LeaderBoards' %>
</div>

<% if @instructorQuery == false%>
<a href="#1" onClick="toggleVis('achievementLeaderboard');">	
  <span id="achievementLeaderboard_show">View Personal Achievement Leaderboards</span>
  <span id="achievementLeaderboard_hide" style="display: none">Hide Personal Achievement Leaderboards</span>
</a>
<br/><br/>
<div id="achievementLeaderboard_myDiv" style="display:none">
  <%= render :partial => 'achievementLeaderBoards' %>
</div>
<% end %>
