log
tmp
*.swp
pg_data
pg_development.png
.tmp*
.project
.loadpath
.rvmrc
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
.idea*
/ruby/