<% if flash[:pwnote] -%>
<div class="flash_note"><%= flash[:pwnote] %></div>
<% elsif flash[:pwerr] -%>
<div class="flash_error"><h1>Error!</h1><%= flash[:pwerr] %></div>
<% end -%>

<h1> Forgotten Your Password? </h1>

<% form_tag :action => 'send_password' do %>
<p><label for="login_name">Enter the e-mail address associated with your account</label><br/>
<%= text_field 'user', 'email'  %></p>
<%= submit_tag "Request password" %>
<% end %>