<p id="notice"><%= notice %></p>

<p>
  <strong>Metric:</strong>
  <%= @review_metric.metric %>
</p>

<%= link_to 'Edit', edit_review_metric_path(@review_metric) %> |
<%= link_to 'Back', review_metrics_path %>
