<H3>Impersonate User</H3>

<TABLE>
<TR>
<% form_tag :action => 'impersonate' do %>
<TD>Enter user account: <%= text_field_with_auto_complete :user, :name, {:size => 41} %></TD>
<TD><input type='submit' value='Impersonate'/></TD>
</form>
</TR>
</TABLE>
<BR/>