<H3>Impersonate User</H3>
<%= form_tag :action => 'impersonate' %>
Enter user account: <%= text_field_with_auto_complete :user, :name, {:size => 41} %>
<input type='submit' value='Impersonate'/>
<%= end_form_tag %>