<% if @child_nodes.length > 0 %>
<BR/>
<BR/>     
<TABLE WIDTH="80%" CELLPADDING="5" ID="theTable">
  <TR ID="header"><TH COLSPAN="5" WIDTH="70%">Details</TH><TH WIDTH="10%">Actions</TH></TR>
  <%   
     index = 1 
     for node in @child_nodes
       if index % 2 == 0 
          rowtype = "odd"
       else
          rowtype = "even"
       end 
  %>
  <!-- Start Listing -->
  <%= render :partial=> '/tree_display/entry', :locals => {:node => node, :prefix => node.node_object_id.to_s+"_"+index.to_s, :depth => 0, :rowtype => rowtype} %>   
  <!-- End Listing -->
  <% 
     index+=1   
     end 
  %>
</TABLE>
<% end %>