<% if @child_nodes.length > 0 %>
  <table id="theTable" width="80%" cell="5">
    <tr id="header"><th colspan="5" width="70%">Details</th><th width="10%">Actions</th></tr>
    <%
    @child_nodes.each_with_index do |node,index|
      if index.odd?
        rowtype = "odd"
      else
        rowtype = "even"
      end
    %>
  <!-- Start Listing -->
  <%= render :partial=> '/tree_display/entry', :locals => {:search => @search, :node => node, :prefix => node.node_object_id.to_s+"_"+index.to_s, :depth => 0, :rowtype => rowtype} %>
  <!-- End Listing -->
  <%
    end
  %>
</table>
<% end %>