<h1>Manage content</h1>

<%= link_to 'Manage Notifications', notifications_url %>
<%# add data-user-id %>
<%# associated with current logged in user %>
<%# done to make it available in the frontend %>
<%# pass the user_preference_flag to tree_display.jsx %>
<div id="tree_display" params="#{@reactjsParams}" data-user-id="<%= current_user.id %>" data-user-show="<%= current_user.etc_icons_on_homepage %>" data-menu-item= '<%= "#{@currCtlr}" %>'></div>

