<h1>Manage content</h1>

<%= link_to 'Manage Notifications', notifications_url %>
<%#= render :partial => 'page_header' %>
<%#= render :partial => 'bread_crumbs' %>
<%#= render :partial => 'page_footer' %>
<div id="tree_display" params="#{@reactjsParams}"></div>
<%#= react_component('TreeDisplay', params: '#{@reactjsParams}') %>
