<h1 align="center"> Do you want to copy the topics from the old assignment? </h1>
<table align="center">
  <tr align="center"><tr></tr><tr></tr>
  <td align="center" width="120px" style="font-size: xx-large">
<%= link_to 'Yes', :controller => :assignments, :action => :copy, :id => @assignment_id, :copytopics => 'Y' %>
<%= link_to 'No', :controller => :assignments, :action => :copy, :id => @assignment_id, :copytopics => 'N' %>
  </td>
  </tr>
</table>
