<h1>Editing System Settings</h1>

<% form_tag :action => 'update', :id => @system_settings do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<hr/>
<%= link_to 'Show', :action => 'show', :id => @system_settings %>
