<%= error_messages_for 'login' %>

<!--[form:login]-->
<p><label for="login_name">User Name</label><br/>
<input for="login_name" type="text" ng-model="fffffffffffff">
  </p>

<p><label for="login_password">Password</label><br/>
  <%= password_field 'login', 'password' %></p>

<!--[eoform:login]-->

