<div id="dashboard_header" class="dashboard_header_css" >
  <table  cellpadding='3' cellspacing='4'  >
    <tr ><td class="top_header"><b style="font-size: large;"><%= File.basename(@current_review_file.filepath) %> </b><b style="font-size: smaller;">(Version <%= @current_review_file.version_number %>)</b></td></tr>
  </table>
</div>
