<table class="general">
  <tr>
    <th rowspan="2" align="center">Filename</th>
    <th colspan="<%= @latest_version_number %>" align="center">Versions</th>
  </tr>
  <tr>
    <% for i in 1..@latest_version_number %>
      <th align="center"><%= i %></th>
    <% end %>
  </tr>
  <% @file_version_map.sort.each do |filename, versions| %>
    <tr>
      <td><b>
          <%= link_to filename,
            :controller  => 'review_files',
            :action      => 'show_code_file',
            :review_file_id => @file_id_map[filename],
            :participant_id => @participant.id,
            :versions => versions %>
      </b></td>
      <% for i in 1..@latest_version_number %>
        <td align="center">
          <% if versions.include?(i) %>
            <img src="/assets/signup.png" alt="Icon">
          <% else %>
            <img src="/assets/delete.png" alt="Icon">
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br/>
<table>
  <tr style="font-size: smaller;">
    <td><img src="/assets/signup.png" alt="Icon"></td>
    <td>indicates file is present in the Version.</td>
  </tr>
  <tr style="font-size: smaller;">
    <td align="center"><img src="/assets/delete.png" alt="Icon"></td>
    <td>indicates file is absent in the Version.</td>
  </tr>
</table>
<br/><br/>
