<div id="overlay" class="overlay" onload="assign()">
  <div id="comment_window_outline" class="parentDisable" onLoad="assign()"></div>
  <div id="comment_window">
    <textarea id="forminput" cols=28 rows=5></textarea> <br>
    <button id="submi"  onclick="ajaxSubmitComment()" ><b>Save Comment</b></button>
  </div>


  <div id="authorComment" class="parentDisable" onLoad="assign()"></div>
  <div id="comment_window1">
    <textarea id="forminput1" cols=28 rows=5></textarea> <br>
    <button id="submi1"  onclick="ajaxSubmitComment1()" ><b>Save Comment</b></button>
  </div>

</div>
