<h2>Upload next version of Code Files</h2>
<% form_tag({:controller => 'review_files' , :action=>'submit_review_file',
             :participant_id => @participant.id},
            {:method => 'post', :enctype => "multipart/form-data",
             :onSubmit => "return checkIfFileExists(uploaded_review_file.value,1);"}) do %>
    <br/>Please Upload a Zip file containing all files for Code Review.<br/>
    <br/><input type="file" id="uploaded_review_file" name="uploaded_review_file" size=40 />
    <%= submit_tag 'Upload Zip' %>
    <br/><br/>
    <%= link_to "Code Review Dashboard", :controller => 'review_files',
                :action => 'show_code_review_dashboard',
                :participant_id => @participant.id %><br/><br/><br/>
    <%= link_to "Show_all_submitted_files", :controller => 'review_files',
                :action => 'show_all_submitted_files',
                :participant_id => @participant.id %>

<% end %>
