<h1>Edit Review</h1>
<%= start_form_tag :action => 'update' %>
<%= render :partial => 'teammate_review_content' %>    
<%= hidden_field_tag('teammate_review_id', @teammate_review.id) %>
    <br/>
    <%= submit_tag "Save", :name=>"save" %>       
<%= end_form_tag %>
<%= link_to 'Back', :controller => 'student_team', :action => 'view',  :id => @student.id %>

