<h1>New Teammate Review</h1>
<h2>Teammate: <%= @map.reviewee.user.name %></h2>
<%= start_form_tag :action => 'create', :id => @map.id %>
  	<%= render :partial => 'teammate_review' %>
  	<%= submit_tag "Save", :name=>"save" %>       
<%= end_form_tag %>
<br />

<%= link_to 'Back', :controller => 'student_team', :action => 'view',  :id => @map.id %>

