        <p> <% if controller.action_name != 'new' %>
                <%=check_box("custom_response", ques_num, {:checked => @review_scores[ques_num].comments.gsub(/\"/,'&quot;').to_i == 1})%>
            <%else%>
                <%=check_box("custom_response", ques_num)%>
          <%end%>
          <%=label("custom_response", ques_num, ques_text)%></p>
