<!DOCTYPE html>
<html>
<head>
  <title>Generate Review Feedback Metrics</title>
  <style>/*This style tag provides css styling to the table */
  th, td, p, input, h3 {
      font:15px 'Segoe UI';
  }
  table, th, td {
      border: solid 1px #ddd;
      border-collapse: collapse;
      padding: 2px 3px;
      text-align: center;
  }
  th {
      font-weight:bold;
  }
  </style>
  <style>/*This style tag provides css styling to the table conditional formatting in color() function*/
  table {
      border-color: black;
  }
  .good {
      background-color: #BCED91;
  }
  .neutral {
      background-color: #FFEC8B;
  }
  .poor {
      background-color: #FF8080;
  }
  </style>
  <style>/*This style tag provides css styling to the table tooltip*/
  .parentCell_metric_table {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
  }
  .tooltip_metric_table {
      display: none;
      position: absolute;
      z-index: 100;
      border: 1px;
      background-color: white;
      border: 1px solid black;
      padding: 3px;
      color: black;
      top: 20px;
      left: 20px;
  }
  .parentCell_metric_table:hover span.tooltip_metric_table {
      display:block;
  }
  </style>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
<br>
<%# Calling getReviewFeedback function from expertiza/app/assets/javascripts/response_analysis.js %>
<input type='button' onclick='get_review_feedback()' value='Get Review Feedback' />
<br>
<br>
<p id='showData'></p>
<br>
<div id='timeTaken'></div>
</body>


</html>