<style>
    .review-confirmation {
        text-indent: 2%;
    }
    span {
        font-weight: bold;
        color: ;
        background: #fe2;
    }
</style>

<h1>Review Confirmation</h1>
<h2>Your review has not yet been submitted.</h2>
<p>Below is an analysis of the review you have created. In your review...</p>

<div class="review-confirmation">

    <div class="suggestions">
        <h3>Suggestions</h3>
        <p>Are there suggestions? <span>Yes (10%)</span></p>
        <p>What is the class average? <span>0%</span></p>
    </div>

    <div class="tone">
        <h3>Tone</h3>
        <p>Did you strike a positive, negative, or neutral tone? <span>Neutral</span></p>
        <p>What about the class? What is the overall tone for this review round? <span>Positive</span></p>
    </div>

</div>

<div class="notice">
    <h3>Submission</h3>
    <p class="warn-notice">Once a review has been submitted, you cannot edit it again.</p>
</div>

<%= button_to "Submit Review", action: "submit_response" %>
<%= button_to "Go Back", :back %>

The params
<br/>
<%= @the_params %>

<br/>
<br/>

The  api_response
<br/>
<%= @api_response %>
