<h1><%= @questionnaire.name %></h1>

<% if @survey_responses.size < 1 %>
  <p>No one has responded to the survey</p>
<% else %>
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td>
          <b>Q - <%= question.txt %></b>
        <td>
      </tr>
      <% @responses = SurveyResponse.where(question_id: question.id) %>
      <% if @responses.count > 0 %>
        <table border="1">
          <tr>
            <td>Comments</td>
            <td>Score</td>    
          </tr>
          <% @responses.each do |response| %> 
            <tr>
              <td>
                <%= response.comments %>
              </td>
              <td>
                <%= response.score %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No responses for this question</p>
      <% end %>  
    <% end %>
  </table>
<% end %>
