<br/>
<table>
  <tr>
    <td valign='Top'>Assignment Teams:</td>
    <td>
      <%= radio_button_tag 'participant_type', 'signed', true %> Signed Up Teams<br/>
      <%= radio_button_tag 'participant_type', 'wait_listed' %> Wait Listed Teams<br/>
      <%= radio_button_tag 'participant_type', 'unsigned' %> Unsigned Participants<br/>
      <%= radio_button_tag 'participant_type', 'all' %> All Participants<br/>
      <br/>
    </td>
  </tr>
</table>
<br/>