<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'contributor', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Contributor</label><br/>
<%= check_box 'options', 'reviewer', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Reviewer</label><br/>
<br/>