<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Review Score</label><br/>
<%= check_box 'options', 'teammate_review_score', {:checked => 'checked'}, "true", "false" %>
<label for="Export Fields">Teammate Review Score</label><br/>
<%= check_box 'options', 'author_feedback_score', {}, "true", "false" %>
<label for="Export Fields">Author Feedback Score</label><br/>
<br/>
