<table class="table table-striped table-bordered">
  <thead>
  <tr>

    <!-- CONSIDER USING JAVASCRIPT TO MAKE SELECT OPTIONS MUTUALLY EXCLUSIVE -->

    <!-- NEED TO ACCOUNT FOR CASES WHERE THERE ARE NO TEAM MEMBERS -->

    <th>
      <select class="form-control" style="background-color:lightgrey">
        <option value="team_name">Topic</option>
        <option value="team_members">Team Members (optional)</option>
      </select>
    </th>
    <th>
      <select class="form-control" style="background-color:lightgrey">
        <option value="team_name">Team Members (optional)</option>
        <option value="team_name">Topic</option>
      </select>
    </th>
  </tr>
  </thead>

  <!-- SAMPLE BODY -->

  <tbody>
  <tr>
    <td align="center">R1 C1</td>
    <td align="center">R1 C2</td>
  </tr>
  <tr>
    <td align="center">R2 C1</td>
    <td align="center">R2 C2</td>
  </tr>
  <tr>
    <td align="center">R3 C1</td>
    <td align="center">R3 C2</td>
  </tr>
  </tbody>

</table>

<div style="text-align:center">
  <button type="button" class="btn-primary" style="padding:25px 25px 25px 25px">Import <%= @model %></button>
</div>