<table class="table table-bordered table-striped">
  <thead>
  <tr>

    <!-- CONSIDER USING JAVASCRIPT TO MAKE SELECT OPTIONS MUTUALLY EXCLUSIVE -->

    <th>
      <select class="form-control" style="background-color:lightgrey">
        <option value="user_name">User Name</option>
        <option value="full_name">Full Name</option>
        <option value="email_address">Email Address</option>
      </select>
    </th>
    <th>
      <select class="form-control" style="background-color:lightgrey">
        <option value="full_name">Full Name</option>
        <option value="user_name">User Name</option>
        <option value="email_address">Email Address</option>
      </select>
    </th>
    <th>
      <select class="form-control" style="background-color:lightgrey">
        <option value="email_address">Email Address</option>
        <option value="user_name">User Name</option>
        <option value="full_name">Full Name</option>
      </select>
    </th>
  </tr>
  </thead>

  <!-- SAMPLE BODY -->

  <tbody>

<% @contents_grid.each do |row| %>

  <tr>

      <% row.each do |column| %>

      <td align="center"><%= column %></td>

      <% end %>

  </tr>

  <% end %>

  </tbody>

</table>

<div style="text-align:center">
  <button type="button" class="btn-primary" style="padding:25px 25px 25px 25px">Import <%= @model %></button>
</div>