<h2>Importing from <strong><em><%= @current_file.original_filename %></em></strong></h2>
<h2>Please Confirm the Columns for <strong><em><%= @model %></em></strong></h2>

<% if @model == 'User' %>
    <%= render 'import_file/user' %>
<% else %>
    <h3 style="color:red">There was a problem with the @model in app/views/import_file/show.html.erb.</h3>
<% end %>

<a href="<%= session[:return_to]%>">Back</a>