<h2>Importing from <strong><em><%= @current_file.original_filename %></em></strong></h2>
<h2>Please Confirm the Columns for <strong><em><%= @model %></em></strong></h2>

<% if @model == 'User' %>
    <%= render 'import_file/user' %>
    <a href="/import_file/start?expected_fields=username%26nbsp%3B%26nbsp%3B%7C%26nbsp%3B%26nbsp%3Bfull+name+%28first+%5Bmiddle%5D+last%29%26nbsp%3B%26nbsp%3B%7C%26nbsp%3B%26nbsp%3Be-mail+address&model=User">Back</a>
<% else %>
    <h3 style="color:red">There was a problem with the @model in app/views/import_file/show.html.erb.</h3>
<% end %>