<%= form_for @duty do |form| %>


  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name ,id: :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

