<td> <a href="/duties/<%= duty.id %>/edit"><%= duty.duty_name %></a></td>
<td><%= duty.max_members_for_role %></td>
<td align="center"><%= render :partial => '/duties/actions', :locals => {:duty=>duty} %></td>
