<TD WIDTH="15%">
<ul id="actionmenu"><li class="daddy">&nbsp;
<ul>
  <li><%= link_to 'Create Public Course',:controller=>'course', :action=>'new', :private => 0 %></li>
  <li><%= link_to 'Create Private Course',:controller=>'course', :action=>'new', :private => 1 %></li>
  
</ul>
</li></ul>        
</TD>