<div>
  <%# This section renders the checkboxes and passes values to controller as different variables %>
  <%= form_tag({:action => 'all_students_all_reviews'},{:method => :get}) %>
  <p>Which field do you want to see?</p>
  <div style="display: inline-flex;">
    <p><input type="checkbox" name="show_topics" id="show_topics" value=true>Topics &nbsp;</p>
    <p><input type="checkbox" name="show_teammate_reviews" id="show_teammate_reviews" value=true>Teammate reviews &nbsp;</p>
    <p><input type="checkbox" name="show_meta_reviews" id="show_meta_reviews" value=true>Meta-reviews &nbsp;</p>
    <p><input type="checkbox" name="show_peer_scores" id="show_peer_scores" value=true>Peer scores &nbsp;</p>
    <p><input type="checkbox" name="show_instructor_grades" id="show_instructor_grades" value=true>Instructor grades&nbsp;</p>
  </div>
  <%= button_tag 'Go', value: @course_id, type: :submit, name: :course_id%>
</div>
<% if @render_partial %>
    <%= render 'assessment' %> 
<% end %>