<style>
  th, td {
    text-align: center;
}
</style>

<script>
    $(function() {
        /*Function for sorting the table */
        $(".sortable").tablesorter({
            sortList: [0,0] // sort by Student name
        });
    });
</script>

<table class="table table-striped sortable">
  <thead>
    <tr>
      <th rowspan=2 width="320" class="sorter-true">Students</th>
      <% @assignments.each do |assignment| %>
        <th colspan=4> <%= assignment.name %> </th>
      <% end %>
      <th colspan=2 class="sorter-true">Final Grades</th>
    </tr>
    <tr>
      <% (1..@assignments.size).each do %>
        <td><b>Topic Name</b></td>
        <td><b>Topic ID</b></td>
        <td><b>Assignment Grade</b></td>
        <td><b>Peer Review Score</b></td>
      <% end %>
      <td><b>Final Assignment Grade</b></td>
      <td><b>Final Peer Review Score</b></td>
    </tr>
  </thead>

  <% @course_participants.each do |cp|%>
      <tr>
          <td align="center"><%= "#{cp.name(session[:ip])} (#{cp.fullname(session[:ip])})" %> </td>
          <% @assignments.each do |assignment|%>
              <td>Topic</td>
              <td>Topic ID</td>
              <td>98</td>
              <td>75</td>
          <% end %>
          <td>100</td>
          <td>99</td>
      </tr>
  <% end %>
</table>