<h1>List of Courses</h1>
  <table >
    <tr>
      <th>Click on a course to view details</th>
    </tr>
  </table>
<% @courses.each do |course| %>
  <% if course.name != nil then %>
  <table>
    <tr>
        <td>
          <%= link_to course.name, :action => 'all_assignments_all_students', :course_id => course.id %> &nbsp;
        </td>
        <td>
          (<%= link_to "Course Summary Dashboard", :action => 'one_course_all_assignments', :course_id => course %>) &nbsp;
        </td>
        <td>
          (<%= link_to "Student Summary Dashboard", :action => 'one_course_all_students', :course_id => course %>) &nbsp;
        </td>
    </tr>
    <br>
  </table>
  <% end %>
<% end %>
