
<div>
  <center><h1> <b><%= @current_student.fullname %></b> </h1></center>
   <b> Meta Review statistics </b>
   <p><img src="<%= @mt %>" >  </p>
   <b> Teammate Review Statistics </b><br>
   <p><img src="<%= @bc %>" >  <p>

</div>
