<h1>Instructions on how to use Expertiza</h1>

<%= link_to 'home' ,root_path %>

<!--Adding Youtube video links from Expertiza Channel-->

<h2>Assignment Creation for Instructors</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Hmocw5TGPTQ?" frameborder="0" allowfullscreen></iframe>

<h2>How to do an assignment, for students</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/usPi39wu-DM?" frameborder="0" allowfullscreen></iframe>

<h2>Managing Teams, for Instructors</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uME33EPiJBo?" frameborder="0" allowfullscreen></iframe>

<h2>Managing teams, for students</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wNuOPMHpHkg?" frameborder="0" allowfullscreen></iframe>

<h2>Assignments with topics, for instructors</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sg8n-oEIjdE?" frameborder="0" allowfullscreen></iframe>

<h2>Importing and Exporting</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/B6CaY2IQHP8?" frameborder="0" allowfullscreen></iframe>

<h2>Assignments with topics, for students</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/z9C8_AWb77I?" frameborder="0" allowfullscreen></iframe>

<h2>Managing rubric, for instructors</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/e00gc7X1SlY?" frameborder="0" allowfullscreen></iframe>

<h2>Quizzes</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CaUOA2WLsOY?" frameborder="0" allowfullscreen></iframe>


