<h1>User: <%=h @user.name %></h1>

<table>

<tr><th>Full Name:</th>
<td><%= @user.fullname %></td>
</tr>

<tr><th>Email Address:</th>
<td><%= @user.email %></td>
</tr>

<tr><th>Role:</th>
<td><%= @role.name %></td>
</tr>

</table>
