<h1>Super-Administrators</h1>

<table>
  <tr><th>User name</th><th>Full name</th><th>E-mail address</th></tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.username(session[:ip]), :action => 'show_super_administrator',
        :id => user.id %></td>
      <td><%= user.name(session[:ip]) %></td>
      <td><%= user.email(session[:ip]) %></td>
    </tr>
  <% end -%>
</table>

<hr/>
There can be only One Super Administrator
