<%= render :partial => 'show' %>
<hr/>
<p><%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', {:action => 'remove_instructor', :id => @user},
  :confirm => 'Delete this user?', :method => :post %> </p>

<p><%= link_to 'Back', :action => 'list_instructors' %> to Instructors list</p>