<h1>New Badge</h1>

<%= form_tag({action: 'create'}, {multipart: true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', controller: 'badges', action: 'redirect_to_assignment' %>