<%= error_messages_for 'late_policies' %>

<!--[form:late_policies]-->
<p>
  <label for="late_policy_name">Late policy Name:</label><br/>
  <%= text_field 'late_policy', 'policy_name'  %>
</p>
<p>
  <label for="late_policy_penalty_points_per_unit">Penalty Points Per Unit:</label><br/>
  <%= text_field 'late_policy', 'penalty_per_unit' %>
</p>
<p>
  <label for="late_policy_penalty_maximum">Maximum Penalty:</label><br/>
  <%= text_field 'late_policy', 'max_penalty' %>
</p>
<!--[eoform:late_policies]-->

