<h1>New penalty_policy</h1>

<% form_for(@late_policy) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :Policy_Name %><br />
      <%= f.text_area :name %>
    </p>

    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>