<h1>New late policy</h1>

<% form_for :late_policy, @late_policy, :url => { :action => "create" } do |f| %>
    <%= render :partial => 'form' %>
    <%= f.submit 'Create' %>
<% end %>

<br>
<br>
<%= link_to 'Back', :action => 'index' %>