<% form_tag :action => 'view', :controller=>'student_team', :id=>params[:team_id] do %>
<label>Comments:</label>

<textarea rows="2" cols="2"></textarea>

<br>

  <%= submit_tag "Advertise"%>
<% end %>
