<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label> (Mandatory field. No space or special chars.)
  <img src="/assets/info.png" title='- DO NOT change this filed for an on-going course. This may cause lost of student submitted file.'>
<br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>
<p><label for="course_institutions_id">Institution Name</label><br/>
  <%= select_tag :'institutions_id', options_from_collection_for_select(Institution.where.not(:name=>nil), 'id', 'name'), :include_blank => "Please select...",:required=>true %>
</p>
<!--[eoform:user]-->
<br/>
