<% for column in Course.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @course.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @course %> |
<%= link_to 'Back', :action => 'list' %>
