<!--<script type="text/javascript" src="/assets/view_team_in_grades.js"></script>-->
<script type="text/javascript">
    /*    github_token = ' @token ';
        $(document).ready(function () {
            $('#tag_prompt_toggler').click(function () {
                if ($('#tag_prompt_toggler').text() == "hide tags")
                    $('#tag_prompt_toggler').text("show tags")
                else
                    $('#tag_prompt_toggler').text("hide tags")
                $('.tag_prompt_container').toggle();
            });
        });

        function toggleFunction(elementId) {
            var target = document.getElementById(elementId);
            if (target.style.display === 'none') {
                target.style.display = 'block';
            } else {
                target.style.display = 'none';
            }
        }*/
</script>
<h2>Querying Github Metrics For: <%= @assignment.name %></h2>

<h1> Success! Window will automatically close.</h1>
<script>
  setTimeout(window.close(), 5000)
</script>
