<% form_tag :controller => 'review_mapping',
            :action => 'add_quiz_response_map',
            :assignment_id => assignment.id,
            :reviewer_id => session[:user].id,
            :participant_id => @participant.id do %>

  <% if assignment.sign_up_topics.count > 0 %>
    <p><b>Select a quiz to begin:</b></p>
    <%= hidden_field_tag :assignment_id, assignment.id%>
    <% StudentQuizController.take_quiz(assignment.id, session[:user].id).each do |questionnaire| %>
      <%= radio_button_tag :questionnaire_id, questionnaire.id %> <%= questionnaire.id %>: <%=h questionnaire.name %><br>
    <% end %>
    <br />
  <% end %>

  <% if assignment.sign_up_topics.count > 0 %>
     <input type='submit' value='Select Quiz'/>
  <% else %>
     <input type='submit' value='Go to Selection Page'/>
  <% end %>
<% end %>
