<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<h1>Course Evaluation: Select survey to view deployments</h1>

<table class="listing" cellpadding=2>
  <tr>
	<th></th>
    <th align=left>Survey</th>
  </tr>
  
<% for rubric in @surveys %>
  <tr class="listingRow">
	<td></td>
	<td><%= link_to rubric.name, :action => 'list', :id => rubric %></td>
  </tr>
<% end %>
</table>
</br>

<<<<<<< HEAD
=======
=======
<h1>Course Evaluation: Select survey to view deployments</h1>

<table class="listing" cellpadding=2>
  <tr>
	<th></th>
    <th align=left>Survey</th>
  </tr>
  
<% for rubric in @surveys %>
  <tr class="listingRow">
	<td></td>
	<td><%= link_to rubric.name, :action => 'list', :id => rubric %></td>
  </tr>
<% end %>
</table>
</br>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<h1>Course Evaluation: Select survey to view deployments</h1>

<table class="listing" cellpadding=2>
  <tr>
	<th></th>
    <th align=left>Survey</th>
  </tr>
  
<% for rubric in @surveys %>
  <tr class="listingRow">
	<td></td>
	<td><%= link_to rubric.name, :action => 'list', :id => rubric %></td>
  </tr>
<% end %>
</table>
</br>

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
