<h2> Pick Deployments</h2>
<% form_tag :action=>'view_responses' do %>

Deployment 1: <%= select(:statistics, :survey_deployment_id1, @deployment) %>
<p> 
Deployment 2: <%= select(:statistics, :survey_deployment_id2, @deployment) %> 
<p>
<%= submit_tag "Go" %>
<% end %>


