%h3 Aggregate score distribution
%div
  %img{:src => "#{@chart1  "=0,0,100,10"}"}/
%br/
%div
  - j=0
  %table{:border => "1", :cellpadding => "3", :cellspacing => "0", :style => "font-size:small;"}
    %tr{:bgcolor => "#cccccc"}
      %th Range
      - @scores.each do |s|
        - if s != 0
          %td{:align => "center"}
            (#{j*10}-#{(j+1)*10})%
        - j+= 1
    %tr
      %th Count
      - @scores.each do |s|
        - if s != 0
          %td{:align => "center"}= s