
<%= @cycle_n %>




<!--<div id="redbox" style="display: none;">-->
  <!--<!%= form_for @cycle_n do %>-->
      <!--<!%= label_tag(:email,"Email ID : ") %>-->
      <!--<button class="btn btn-default" type = "submit" ></button>-->
  <!--<!% end -%>-->
<!--</div>-->


<!% form_tag collusion_report do %>
    <!%= text_field_tag :my_input %>
    <!%= submit_tag "Send input" %>
<!% end %>