<% qid = "ReviewResponseMap" %>
<%@teamid%>
<%@id%>
<% @this_reviewer %>

<% #Assignments do have vary_rubric_by_rounds#%>
<% if !@assignment.varying_rubrics_by_round? %>
  <% #################Score awarded########################    %>
  <% if (@l%2) == 0%>
    <td bgcolor="#ffffff" align = 'center' >
  <%else%>
    <td  bgcolor="#DDDDBB" align = 'center' >
  <%end%>
  <% if @review_scores[@this_reviewer][@teamid] != 0 && @review_scores[@this_reviewer][@teamid] != -1%>
    <%= @review_scores[@this_reviewer][@teamid].inspect %>%
  <% else %>
    --
  <% end %>
    </td>

  <%if (@avg_and_ranges[@teamid] && @avg_and_ranges[@teamid][:avg]&& @avg_and_ranges[@teamid][:max]&& @avg_and_ranges[@teamid][:min]) %>
    <% #############Avg. score########################        %>
    <% if (@l%2) == 0%>
      <td bgcolor="#ffffff" align = 'center'>
    <%else%>
      <td  bgcolor="#DDDDBB" align = 'center' >
    <%end%>
    <%= @avg_and_ranges[@teamid][:avg].round(0) %>%
      </td>

    <% #############Score range ########################        %>
    <% if (@l%2) == 0%>
      <td bgcolor="#ffffff" align = 'center' >
    <%else%>
      <td  bgcolor="#DDDDBB" align = 'center' >
    <%end%>
    (<%= @avg_and_ranges[@teamid][:min].round(0) %>% - <%= @avg_and_ranges[@teamid][:max].round(0) %>%)
      </td>

  <%else%>

    <% if (@l%2) == 0%>
      <td bgcolor="#ffffff" align = 'center'>
    <%else%>
      <td  bgcolor="#DDDDBB" align = 'center' >
    <%end%>
    --
    </td>

    <% if (@l%2) == 0%>
      <td bgcolor="#ffffff" align = 'center' >
    <%else%>
      <td  bgcolor="#DDDDBB" align = 'center' >
    <%end%>
    --
    </td>
  <%end%>
<%else%>
  <% #Assignments have vary_rubric_by_rounds#%>


<%end%>
