<% for item_id in items do 
     item = @menu.get_item(item_id) -%>
  <% if item.id != @menu_item.id -%>
<tr class="depth<%= depth %>">
<td><%= radio_button :menu_item, :parent_id, item.id  %></td>
<td> <div class="menu_title"><%= item.label %></div></td>
</tr>
    <% if item.children and item.children.length > 0 and 
       depth < (@settings.menu_depth - 2) -%>
      <%= render :partial => 'item_parent_list', :locals => {:items =>
        item.children, :depth => depth + 1} %>
    <% end -%>
  <% end -%>
<% end -%>

