<% for column in MenuItem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @menu_item.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @menu_item %> |
<%= link_to 'Back', :action => 'list' %>
