<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
.menutheme{
padding: 0;
width: 872px;
border-top: 5px solid #9A0000; /*Red color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.menutheme ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.menutheme li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/*text-transform:uppercase;*/
}

.menutheme a{
float: left;
display: block;
font: 14px Trebuchet MS;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Red color theme*/ 
border-top: 1px solid white;
}

.menutheme a:hover{
background-color: #9A0000; /*Red color theme*/ 
color: white;
}

.menutheme a.selected{ /*currently selected tab*/
background-color: #9A0000; /*Red color theme*/ 
color: white;
border-color: #9A0000; /*Red color theme*/ 
}

<<<<<<< HEAD
=======
=======
.menutheme{
padding: 0;
width: 872px;
border-top: 5px solid #9A0000; /*Red color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.menutheme ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.menutheme li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/*text-transform:uppercase;*/
}

.menutheme a{
float: left;
display: block;
font: 14px Trebuchet MS;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Red color theme*/ 
border-top: 1px solid white;
}

.menutheme a:hover{
background-color: #9A0000; /*Red color theme*/ 
color: white;
}

.menutheme a.selected{ /*currently selected tab*/
background-color: #9A0000; /*Red color theme*/ 
color: white;
border-color: #9A0000; /*Red color theme*/ 
}

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
.menutheme{
padding: 0;
width: 872px;
border-top: 5px solid #9A0000; /*Red color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.menutheme ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.menutheme li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/*text-transform:uppercase;*/
}

.menutheme a{
float: left;
display: block;
font: 14px Trebuchet MS;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Red color theme*/ 
border-top: 1px solid white;
}

.menutheme a:hover{
background-color: #9A0000; /*Red color theme*/ 
color: white;
}

.menutheme a.selected{ /*currently selected tab*/
background-color: #9A0000; /*Red color theme*/ 
color: white;
border-color: #9A0000; /*Red color theme*/ 
}

>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
