<div class = "exp">
<%if ptrend.length > 0%>

<table>
  <tr><th class="head">Date</th><th class="head">Number of Rights Granted</th><th class="head">Percent Rights Granted</th></tr>
<% ptrend.each do |val| %>
  <tr class= "exp">
    <td ><%= val["date"].strftime('%m-%d-%Y') %></td>
    <td ><%= val["num"] %></td>
    <td ><%= '%.2f' % (100.0*val["num"]/total) %></td>
  </tr>
<% end -%>
</table>
<% end -%>
</div>    