<%= render :partial => 'admin/show' %>
<hr/>
<p><%= link_to 'Edit', :action => 'edit_student', :id => @user %> |
<%= link_to 'Delete', {:action => 'remove_student', :id => @user},
:confirm => 'Delete this user?', :post => true %> </p>

<p><%= link_to 'Back', :action => 'list_students' %> to Students list</p>
