<%= form_tag :action => 'proceed' do %>

<h1>Placeholder Page</h1>
    <h2> Sample Youtube Video of Expertiza</h2>

    <iframe width="560" height="315" src="http://www.youtube.com/embed/QYZYWQ1wvns" frameborder="20"></iframe>
    <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
    <td width="80%" valign="middle" bgcolor="#d2d8c7">

      <h1>Website Logo</h1>

      <h2>Page heading</h2>


      This is a basic two-column web page layout. The left column or the <i>menu column</i> is a narrow band of space (usually between 15-25% of the page width) and is reserved for a menu of hyperlinks leading to other pages on your website. The table used to create this layout employs a single table row containing two table cells.<br>
      <br>

      The right column or the <i>content column</i> takes up the lion's share of the web page width and contains the actual content of each particular page. In a basic two column layout like this, it is common to place the website logo at the top of the content column on each page.</td></tr></table>



    </br>
    <%= submit_tag "proceed" %>
<%end%>