<%= form_tag :action => 'proceed' do %>

<h1>Placeholder Page</h1>
    <h2> Sample Youtube Video of Expertiza</h2>

    <iframe width="560" height="315" src="http://www.youtube.com/embed/QYZYWQ1wvns" frameborder="20"></iframe>

    </br>
    <%= submit_tag "proceed" %>
<%end%>