 <div>
   <% if @user.role.instructor? %>
<!-- E1976   add action enable at instructor profile page-->
    <table class="table borderless">
        <tr>
          <th align='left'>Action options</th>
        <tr>
          <td>Check the boxes representing that whether to see assignment actions on the homepage or on a tab associated with each assignment.
        <tr>
          <td><label for="action_enable">I want to view the assignment <strong>Actions</strong> on homepage</label></td>
          <td><%= check_box 'user', 'action_enable', {}%></td>
        </tr>
    </table>
   <% end %>
  </div>
