<tr><td><% label_tag('user[assignment]', 'assignment:' ) %></td><td>
  <%= text_field 'user', 'assignment', value: @assignment.id, :readonly=>"readonly", :type=>"hidden" ,class: "form-control width-250"%></td></tr>