<table class="table borderless">
  <tr>
    <th align='left'>Assignment operations preferences</th>
  <tr>
    <td>Check the boxes where you want to see the assignment actions.
  <tr>
    <td><label for="user_email_on_review">Homepage</label></td>
    <td><%= check_box 'user', 'preference_home_flag', {},  true, false  %></td>
  </tr>
  <tr>
    <td><label for="user_email_on_submission">In edit page in etc tab.</label></td>
    <td><%= check_box 'user', 'preference_edit_flag', {}, true, false  %></td>
  </tr>
  <tr>
  </tr></table>