<%#created two checkboxes where the user can select where he wants to make the assignment operations visible %>
<% request_user ||= false %>
<%if !request_user%>
    <div>
      <table class="table borderless">
        <tr>
          <th align='left'>Where do you want to see actions?</th>
        </tr>
        <tr>
          <td><%= label_tag('user[preference_home_flag]', 'On the homepage')%></td>
          <td><%= check_box 'user', 'preference_home_flag', {},  true, false  %></td>
        </tr>
        <tr>
          <td><label for="user_preference_edit_flag">On the edit Assignment Page</label></td>
          <td><%= check_box 'user', 'preference_edit_flag', {},  true, false  %></td>
        </tr>
        <tr>
      </table>
    </div>
<% end %>