<script>
$(document).ready(function(){
  $('#user_institution_id').change(function() {
    if(this.value == "") {
      $('#institution_name').show();
      $('#name_of_other_institution').show();
    }else{
      $('#institution_name').hide();
      $('#name_of_other_institution').hide();
    }
  });
});
</script>
<tr><td><label for="user_institutions"><b><%=t ".inst_name"%>: </b></label></td><td>
    <%= collection_select(:user, :institution_id, Institution.all.order(:name), :id, :name, {include_blank: 'Other'}, :class => "form-control width-250") %></td></tr>
    <tr><td><label id="name_of_other_institution" style="display: none">Name of other institution: </label></td><td>
    <%= text_field 'institution', 'name', style: 'display: none', class: "form-control width-250" %></td></tr>
