<<<<<<< HEAD
<<<<<<< HEAD
<p><label for="user_fullname">Full name (last, first[ middle])</label><br/>
=======
<p><label for="user_fullname">Full name (last, first[ middle])</label><br/>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<p><label for="user_fullname">Full name (last, first[ middle])</label><br/>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
<%= text_field 'user', 'fullname'  %></p>