<p><label for="password">Password</label><br/>
<%= password_field 'user', 'clear_password' %></p>

<p><label for="confirm_password">Confirm password</label><br/>
<%= password_field 'user', 'confirm_password' %></p>
