<% new_user ||= false %>
<p><label for="password">Password</label>
  <%= "(leave password blank to auto-generate; it will be sent in their welcome email)" if new_user %>
  <br/>
  <%= password_field 'user', 'password' %></p>

<p><label for="password_confirmation">Confirm password</label><br/>
  <%= password_field 'user', 'password_confirmation' %></p>
