<div>
 <table>
   <tr>
     <th align=left>E-mail options</th>
   <tr>
     <td>Check the boxes representing the times when you want to receive e-mail.
   <tr>
     <td><label for="user_email_on_review">When someone else <strong>reviews</strong> my work</label></td>
     <td><%= check_box 'user', 'email_on_review', {},  true, false  %></td>
   </tr>
   <tr>
     <td><label for="user_email_on_submission">When someone else <strong>submits</strong> work I am assigned to review</label></td>
     <td><%= check_box 'user', 'email_on_submission', {}, true, false  %></td>
   </tr>
   <tr>
     <td><label for="user_email_on_review_of_review">When someone else reviews one of my reviews (<strong>metareviews</strong> my work)</label></td>
     <td><%= check_box 'user', 'email_on_review_of_review', {}, true, false %></td>
   </tr>
   <tr></tr>
   <tr>
     <th align=left>Privacy</th>
   <tr>
   <tr>
     <td><label for="user_leaderboard_privacy">Hide my name on the leaderboard</label></td>
     <td><%= check_box 'user', 'leaderboard_privacy', {}, true, false %></td>
   </tr>
 </table>
</div>