<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_name">Name</label><br/>
<%= text_field 'user', 'name'  %></p>

<%= render :partial => 'name' %>
<%= render :partial => 'email' %>
<%= render :partial => 'password' %>
<%= render :partial => 'prefs' %>
<!--[eoform:user]-->
<br/>
