<div ng-controller='UsersPageCtrl'> <!-- make this page available to angular controller -->
<div ng-init="init()"></div>

<br/>

<div ng-if="profileVisible == true">
  <h1><b>User: {{displayedUser.object.name}}</b></h1>
  <br>
  <h3><b>Full Name: </b>{{displayedUser.object.fullname}}</h3>
  <h3><b>Email Address: </b>{{displayedUser.object.email}}</h3>
  <h3><b>Role: </b>{{displayedUser.role}}</h3>
  <br>

  <div>
    <button ng-click="showTable(true)" type="button" class="btn btn-primary">Back</button>
    <button ng-click="editUser()" type="button" class="btn btn-success">Edit</button>
    <button ng-click="deleteUser()" type="button" class="btn btn-danger">Delete</button>
  </div>
</div>

<div ng-if="editProfileVisible == true">
  <div class = "well" style="padding-right: 50px; margin-right: 360px;">
  <div>
    <label>Username</label>
    <input class="form-control" ng-model="updatedUser.object.name" placeholder="{{updatedUser.object.name}}">
  </div>
  <div>
    <label>Full name (last, first[ middle])</label>
    <input class="form-control" ng-model="updatedUser.object.fullname" placeholder="{{updatedUser.object.fullname}}">
  </div>
  <div>
    <label>E-mail address</label>
    <input class="form-control" ng-model="updatedUser.object.email" placeholder="{{updatedUser.object.email}}">
  </div>
  <div>
    <label>Password </label>
    <input ng-model="updatedUser.object.password" class="form-control">
  </div>
  <div>
    <label>Confirm password</label>
    <input ng-model="updatedUser.object.password" class="form-control">
  </div>
  <br>
  <p><b>E-mail options</b></p>
  <p>Check the boxes representing the times when you want to receive e-mail.</p>
  <span class="input-group">
      <input ng-model="updatedUser.email_on_review" type="checkbox"> &nbsp&nbsp&nbsp
      When someone else <b>reviews</b> my work 
  </span>
  <span class="input-group">
      <input  ng-model="updatedUser.email_on_submission" value="updatedUser.email_on_submission" checked="updatedUser.email_on_submission" type="checkbox" aria-label="..."> &nbsp&nbsp&nbsp  
      When someone else <b>submits</b> work I am assigned to review
  </span>
  <span class="input-group">
      <input ng-model="updatedUser.email_on_review_of_review" value="updatedUser.email_on_review_of_review" type="checkbox"> &nbsp&nbsp&nbsp  
      When someone else reviews one of my reviews (<b>metareviews</b> my work)
  </span>
  <p><b>Privacy</b></p>
  <span class="input-group">
      <input ng-model="updatedUser.leaderboard_privacy" value="updatedUser.leaderboard_privacy" type="checkbox" > &nbsp&nbsp&nbsp  
      Hide my name on the leaderboard
  </span>
</div>
<div>
<button ng-click="saveUser()" type="button" class="btn btn-success">Save</button>
<button ng-click="showUser(displayedUser.object.id)" type="button" class="btn btn-primary">Back</button>
</div>
</div>


<div ng-if="tableVisible == true">
<h1>Manage users</h1>
<div>
<label>Search By: 
  <select ng-model="searchtype" ng-init="searchtype='any'">
    <option value="any">Any</option>
    <option value="name">Name</option>
    <option value="email">Email</option>
  </select>
</label>
<input ng-hide="searchtype != 'any'" ng-model="search.$">
<input ng-hide="searchtype != 'name'" ng-model="search.name">
<input ng-hide="searchtype != 'email'" ng-model="search.email">
<p>
</div>

    <table ng-if="tableVisible == true" class="table table-striped table-hover table-responsive">
      <thead>
        <tr><th colspan=5></th><th colspan=4 class="head info">E-mail on ...</th></tr>
        <tr class="info">
          <th>Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Parent</th>
          <th>Review</th>
          <th>Submission</th>
          <th>Metareview</th>
          <th>Privacy</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter:search">
          <td><button ng-click="showUser(user.object.id)" type="button" class="btn btn-info">{{user.object.name}}</button></td>
          <td>{{user.object.fullname}}</td>
          <td>{{user.object.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.parent}}</td>
          <td>{{user.email_on_review}}</td>
          <td>{{user.email_on_submission}}</td>
          <td>{{user.email_on_review_of_review}}</td>
          <td>{{user.leaderboard_privacy}}</td>
        </tr>
      </tbody>
    </table>
   
  </div>

<%= render :partial => 'shared_scripts/pages' %>

<p>
  <%
      session[:return_to] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
    %>
<hr/>
  <%= link_to 'New User', :action => 'new' %> |
  <%= link_to 'Import Users', :controller=>'import_file', :action=>'start', :model => 'User', :expected_fields => 'username, full name (first[ middle] last), e-mail address, password' %>|
  <%= link_to 'Export Users', :controller=>'export_file',:action=>'start',:model=> 'User',:id=> 1 %>

</p>

</div>