<h1>New user</h1>

<% form_tag :action => 'create' do %>
  <p><label for="role_id">Role</label><br/>
  <%= collection_select 'user', 'role_id', @all_roles, :id, :name %></p>

  <%= render :partial => 'user', :locals => { :new_user => true } %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
