<%= render :partial => 'create_random_teams' %>


<BR/>
<H4> Manually </H4>
<p>Specify Team name, then add members to team, one by one. </p>
<%= render :partial => '/team/form' %>

    <br/>
<BR/>




