<h4> Add Participants </h4>

    Enter user names: <%= text_field_with_auto_complete :usernames, {:value => ''} %>
    * To add a participant, the participant must be an existing user.<br>
    * The usernames must be comma separated<br/>
    &nbsp;&nbsp;&nbsp
    <br/><br/>

