<h4> Create Random Teams</h4>

Team Size: <%= text_field_with_auto_complete :teamsize, {:value => ''} %>
&nbsp;&nbsp;&nbsp
<br/>
<br/>
<H4> Manually </H4>
<label for="team_name">Team Name:</label>&nbsp;
<%= text_field 'team', 'name'  %>
