<h4> Import Participants </h4>
<label for="file">File to Import Participants: </label><%= file_field_tag 'participants_file', :size => 40 %><br/><br/>
* Each user in the file should be an existing user with the system<br>