<% if session[:user].role.name == "Teaching Assistant"
     user_id = Ta.get_my_instructor(session[:user].id)
   else
     user_id = session[:user].id
   end %>

<table>
  <tr>
    <td><label for="penalty_flag">Apply Penalty Policy:</label></td>
    <td><%= check_box 'assignment', 'calculate_penalty', {}, true, false %></td>
    <td>
      <% selected = @assignment.late_policy_id %>
      <select name="assignment[late_policy_id]">
        <option value="0" <%if selected.nil?%>selected="yes"<%end%>>--None--</option>
        <% LatePolicy.find(:all, :conditions => ['instructor_id = ?', user_id], :order => "times_used DESC").each{| late_policy | %>
            <option value="<%=late_policy.id%>" <% if selected != nil && selected == late_policy.id %>selected="yes"<%end%>>
                    <%=late_policy.policy_name %>
            </option>
        <% } %>
      </select>
    </td>
    <td><%= link_to 'New late policy', :controller => 'late_policies', :action => 'new' %></td>
  </tr>
</table>
