<h1>Assignments</h1>
<% if flash[:notice] != nil and flash[:notice].strip != "" %>
<div class="flash_error">
	<%= flash[:notice] %>
</div>
<% end %>
<% form_tag :action => 'list' do %>
	<%= select(:display_option, :name, 
			   @display_options, {}, 
			   {:onchange => "document.forms[0].submit()"} ) %>
<% end %>

<br/>
<% 
   column_definitions = Array.new
   column_definitions << {:name => 'Assignment Name', :type => 'display', :field => 'name'}
   column_definitions << {:name => 'Submission Directory', :type => 'display', :field => 'directory_path'}
   column_definitions << {:name => 'Edit', :action => 'edit', :controller => 'assignment' }
   column_definitions << {:name => 'Copy', :action => 'copy', :controller => 'copy', :hidden => {:name => 'model', :id => 'Assignment'}}
   column_definitions << {:name => 'Delete', :action => 'delete', :controller => 'assignment' }   
   column_definitions << {:name => 'View Report', :action => 'view', :controller => 'grades' }
   column_definitions << {:name => 'View Survey Responses', :action => 'view_responses', :controller => 'survey_response'}  
   
   delete_options = {:enabled => true, :controller => 'assignment'}          
%>
<%= render :partial => 'shared_scripts/selectTable', :locals => {:column_definitions => column_definitions, :delete_options => delete_options, :elements => @assignments} %>
<br />

<%= link_to 'New Assignment', :action => 'new' %>

