<h1>New Assignment</h1>

<%= start_form_tag :action => 'create'%>
  <%= render :partial => 'form' %>
  <%= render :partial => 'due_dates' %>
  &nbsp;&nbsp;<%= submit_tag "Save assignment" %>
<%= end_form_tag %>
<br />
<div style="padding: 15px">
<%= link_to 'Back', :action => 'list' %></div>