<<<<<<< HEAD
<p>
  <span style="font-size: 0.8em;">[<%= Time.now.to_s(:db) %>]</span>
  <%=h thought %>
=======
<p>
  <span style="font-size: 0.8em;">[<%= Time.now.to_s(:db) %>]</span>
  <%=h thought %>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
</p>