<%= link_to :controller=>'bookmarks', :action=> 'list', :id => topic.id do %>
  <span class="fa-stack fa-md" title='View topic bookmarks'>
    <i class="fa fa-bookmark fa-stack-1x fa-2x"></i>
  </span>
<% end %>
<%= link_to :controller=>'bookmarks', :action=> 'new', :id => topic.id , :assignment_id => params[:assignment_id] do %>
  <span class="fa-stack fa-md" title='Add bookmark to topic'>
    <i class="fa fa-bookmark fa-stack-1x fa-2x"></i>
    <i class="fa fa-plus fa-stack-1x fa-inverse" style='font-size: .5em'></i>
  </span>
<% end %>

<%= render :partial => '/sign_up_sheet/all_actions', :locals => {:i=>i, :topic=>topic, :is_suggested_topic=>is_suggested_topic} %>

