<%= link_to image_tag('Check-icon.png', :border => 0, :title => 'Signup', :align => 'middle'), :controller=>'sign_up_sheet', :action=> 'sign_up', :id => topic.id, :assignment_id => params[:id] %>
<%= link_to :controller=>'bookmarks', :action=> 'view_topic_bookmarks', :id => topic.id , :assignment_id => params[:id] do %>
  <span class="fa-stack fa-md" title='View topic bookmarks'>
      <i class="fa fa-bookmark fa-stack-1x fa-2x"></i>
    </span>
<% end %>
  <%= link_to :controller=>'bookmarks', :action=> 'add_bookmark_form', :id => topic.id , :assignment_id => params[:id] do %>
    <span class="fa-stack fa-md" title='Add bookmark to topic'>
      <i class="fa fa-bookmark fa-stack-1x fa-2x"></i>
      <i class="fa fa-plus fa-stack-1x fa-inverse" style='font-size: .5em'></i>
    </span>
  <% end %>

