<% found_in_slots = false %>
<% for slot in @slots_filled %>
    <% if slot.topic_id.to_s == topic.id.to_s %>
        <td align="center"><%= slot.count %></td>
        <% found_in_slots = true %>
    <% end %>
<% end %>
<% if found_in_slots == false %>
    <td align="center">0</td>
<% end %>