<% found_in_slots = false %>
<% @slots_filled.each do | slot | %>
  <% if slot.topic_id.to_s == topic.id.to_s %>
    <td align="center"><%= slot.count %></td>
    <% found_in_slots = true %>
  <% end %>
<% end %>
<% unless found_in_slots %>
  <td align="center">0</td>
<% end %>
