  <th width="5%">Topic #</th>
  <th width="75%">Topic name(s)</th>
  <th width="5%">Max choosers</th>
  <th width="5%">Number of choosers</th>
  <th width="5%">Waitlist choosers</th>
  <% if @assignment.staggered_deadline == true %>
      <th width="5%">Dependency</th>
  <% end %>
  <th width="5%">Actions</th>
