<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<% found_in_slots = false %>
<% for slot in @slots_waitlisted %>
    <% if slot.topic_id.to_s == topic.id.to_s %>
        <td align="center"><%= slot.count.to_i %></td>
        <% found_in_slots = true %>
    <% end %>
<% end %>
<% if found_in_slots == false %>
    <td align="center">0</td>
<<<<<<< HEAD
=======
=======
<% found_in_slots = false %>
<% for slot in @slots_waitlisted %>
    <% if slot.topic_id.to_s == topic.id.to_s %>
        <td align="center"><%= slot.count.to_i %></td>
        <% found_in_slots = true %>
    <% end %>
<% end %>
<% if found_in_slots == false %>
    <td align="center">0</td>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<% found_in_slots = false %>
<% for slot in @slots_waitlisted %>
    <% if slot.topic_id.to_s == topic.id.to_s %>
        <td align="center"><%= slot.count.to_i %></td>
        <% found_in_slots = true %>
    <% end %>
<% end %>
<% if found_in_slots == false %>
    <td align="center">0</td>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
>>>>>>> 126e61ecf11c9abb3ccdba784bf9528251d30eb0
<% end %>