<% @q_type=QuestionnaireType.find(Questionnaire.find(params[:id]).type_id).name %>

<h1>Copy an existing <%= @q_type %></h1>

<% form_tag :action => 'copy_questionnaire', :id=>@questionnaire.id do %>
  <%= render :partial => 'questionnaire' %>
  <%= submit_tag "Save "+@q_type, :name=>"save" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
