<%# this page will display the notifications as a flash message Randal Myers, 22 March 2017 %>

<% course_ids = [] %>
<% current_user.participants.includes(:assignment, assignment: [:course]).each{|p| course_ids << p.assignment.course.id if p.assignment && p.assignment.course} %>
<% notifications = Notification.where(course_id: course_ids.uniq, active_flag: true) %>
<% if notifications %>
  <% notifications.each do |notification| %>
    <% if TrackNotification.where(notification_id: notification.id, user_id: current_user.id).count.zero? %>
      <% if notification.expiration_date >= Date.today %>
        <table style="width: 100%">
          <tbody class="flash_notification alert alert-success">
            <tr style="border-style: none none solid none; border-width: 1px;">
              <td><b><%= sanitize notification.subject.upcase %></b></td>
              <td><%= link_to image_tag("/assets/tree_view/delete-icon-24.png", border: 0, height: '16', width: '16', align: 'right'), track_notifications_path(id: notification.id), {class: 'dock-item'} %> </td>
            </tr>
            <tr><td><%= sanitize notification.description.html_safe %></td><td></td></tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
<% end %>
