<% if flash[:note] -%>
  <div class="flash_note"><%= flash[:note] %></div>
<% end -%>
<% if flash[:error] -%>
  <div class="flash_error"><h1>Error!</h1><%= flash[:error] %></div>
<% end -%>
<% if flash[:alert] -%>
  <div class="flash_error"><%= flash[:alert] %></div>
<% end -%>
<% if flash[:notice] -%>
  <div class="flash_error"><%= flash[:notice] %></div>
<% end -%>
