<a href="http://wikis.lib.ncsu.edu/index.php/Expertiza" target='_blank'>Help</a> | <a href="http://research.csc.ncsu.edu/efg/expertiza/papers" target='_blank'>Papers on Expertiza</a>
<%#= params.inspect.html_safe if Rails.env.development? %>
