<a href="http://wiki.expertiza.ncsu.edu/index.php/Expertiza_documentation" target='_blank'><%=t ".help"%></a> |
<a href="http://research.csc.ncsu.edu/efg/expertiza/papers" target='_blank'><%=t ".papers"%></a>
<%#= params.inspect.html_safe if Rails.env.developm  ent? %>
