<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <%= image_tag "logo.jpg", height: '65'%>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <% if session[:menu] %>
          <%= render :partial => 'menu_items/suckerfish',
            :locals => { items: session[:menu].get_menu(0), level: 0 } %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if session[:user] %>
        <li class="divider-vertical"></li>
        <li class="right-most">
          <%= link_to "Logout", {controller: "auth", action: "logout"}, method: :post %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>