<ul id='suckerfish'>
  <li><%= link_to 'Home', :root %></li>
  <li>
  <%= link_to 'Contact Us', 'contact_us' %>
  <ul>
    <li><%= link_to 'Credits & License', 'credits' %></li>
  </ul>
  </li>
</ul>
