<%= start_form_tag({:action => form_action}, {:method => 'post'}) %>
Enter a user login: <%= text_field_with_auto_complete :user, :name, {:size => 41} %>
<%= hidden_field_tag (obj_type, obj_id) %>
<input type='submit' value='Add Participant'/>
<%= end_form_tag %>