<div class = "">

<table id="user_list" class="table table-striped" style="font-size: 15px"> 
  <tr>
    <th class="head">Name</th>
    <th class="head">Full Name</th>
    <th class="head">Email Address</th>
    <th class="head">Role</th>
    <th class="head">Parent</th>
    <% if params[:model] == 'Assignment' and Assignment.find_by(id: params[:id]).badge? %>
      <th class="head">Badges</th>
    <% end %>  
    <th class="head">Review</th>
    <th class="head">Submission</th>
    <th class="head">Metareview</th>
    <th class="head">Submit</th>
    <th class="head">Review</th>
    <th class="head">Take quiz</th>
    <!-- E2351 - on assignments, show the participant's duty. header for this column -->
    <% if params[:model] == 'Assignment' %>
      <th class="head">Mentor</th>
    <% end %>
    <th class="head">Handle</th>
    <th class="head">Action</th>
    <!-- Adding header for the participant role on the UI -->
    <th class="head">   </th>
    <th class="head">Participant Role</th>
  </tr>
  <!--E1721 changes begin-->
  <% @user_id = [] %>
  <%= render partial: 'participants/participant', collection: user_list, :locals => {:userid => @user_id, :controller => 'participants'}%>
  <!--E1721 changes End-->
</table>


</div>

<script>
    var participants = <%=@user_id%>;
    participants.forEach(function(participant){
        $('#'.concat(participant.toString())).change(function(){
            $('#button'.concat(participant.toString())).show();
        });
    });
</script>
