
<div>
  <center><h1> <b><%= @current_student.fullname %></b> </h1></center>
    <table border="1" cellspacing="0">
	   <tr>
	     <th align="left"><b> MetaReview statistics </b></th>
	     <th align="left"><b> Teammate Review statistics </b></th>
	   </tr>
	   
	   <tr><td><p><img src="<%= @mt %>" >  </p></td>
	   <td><p><img src="<%= @bc %>" >  <p></td></tr> 
    </table> 
</div>
