<% if flash[:notice] != nil and flash[:notice].strip != "" %>
  <div class="flash_error">
    <%= flash[:notice] %>
  </div>
<% end %>
<br/>
<br/>
<p>I understand that my paper and reviews will be
  stored on a server at NC State University. The application limits
  access to the authors and reviewers of my work, as well as the program committee.
  However, I understand that, in the unlikely event of a server breach,
  this data could be disclosed to others.</p>
<%= link_to 'Accept', :action => 'accept', id: 'accept-link' %>&nbsp;&nbsp;<%= link_to 'Decline', :action => 'decline'%>
