<h1>Contact Us</h1>

<p>
Visit the Goldberg Project Homepage at <a href="http://goldberg.rubyforge.org">http://goldberg.rubyforge.org</a> for further information on Goldberg.  Visit the Goldberg RubyForge Project Info Page at <a href="http://rubyforge.org/projects/goldberg">http://rubyforge.org/projects/goldberg</a> to access the project’s files and development information.
</p>
