<h1>Credits and License</h1>


<p>Goldberg contains original material and third party material from various sources.</p>


<p>All original material is (p) Public Domain, No Rights Reserved.  Goldberg comes with no warranty whatsoever.</p>


<p>The copyright for any third party material remains with the original author, and the material is distributed here under the original terms.</p>


<p>Material has been selected from sources with licensing terms and conditions that allow use and redistribution for both personal and business purposes.  These licences include public domain, <span class="caps">BSD</span>-style licences, and Creative Commons licences (but <strong>not</strong> Creative Commons Non-Commercial).</p>


<p>If you are an author and you believe your copyrighted material has been included in Goldberg in breach of your licensing terms and conditions, please contact Dave Nelson (urbanus at 240gl dot org).</p>


<h2>Layouts</h2>


<p>Goldberg comes with a choice of layouts, adapted from various sources.</p>


<h3>The Default</h3>


<p>The default layout is a modified version of Andreas09 by Anreas Viklund.  Andreas09 is distributed under free/unlicensed terms, with an informal request that credit be given to the original author.  The original template can be obtained from <a href="http://www.oswd.org/design/preview/id/2493/">Open Source Web Design</a>.</p>


<p>Author’s website: <a href="http://andreasviklund.com/">andreasviklund.com</a>.</p>


<h3>“Earth Wind and Fire”</h3>


<p>Originally designed by Brett Hillesheim (brett7481 at msn dot com) and distributed under free terms (from the MadSeason website: “Every template we create is completely open source, meaning you can take it and do whatever you want with it”).  The original template can be obtained from <a href="http://www.oswd.org/design/preview/id/2453/">Open Source Web Design</a>.</p>


<p>Author’s website: <a href="http://www.madseason.co.uk/">www.madseason.co.uk</a>.</p>


<h3>“Snooker”</h3>


<p>“Snooker” is an original design and is therefore Public Domain.  It incorporates dynamic two-column layout techniques described on the <a href="http://alistapart.com/articles/negativemargins">A List Apart</a> website.</p>


<h3>“Spoiled Brat”</h3>


<p>Originally designed by <a href="http://www.raykdesign.net/">Rayk Web Design</a> and distributed under the terms of the <a href="http://creativecommons.org/licenses/by-sa/2.5/legalcode">Creative Commons Attribution Share Alike</a> licence.  The original template can be obtained from <a href="http://www.openwebdesign.org/viewdesign.phtml?id=2894/">Open Web Design</a>.</p>


<p>Author’s website: <a href="http://www.csstinderbox.com/">www.csstinderbox.com</a>.</p>


<h2>Other Features</h2>


<p>Goldberg also contains some miscellaneous code and techniques from other sources.</p>


<h3>Suckerfish Menus</h3>


<p>The three templates “Earth Wind and Fire”, “Snooker” and “Spoiled Brat” have all been configured to use Suckerfish menus.  This technique of using a combination of <span class="caps">CSS</span> and Javascript to implement dynamic menus was first described by <a href="http://www.alistapart.com/articles/dropdowns/">A List Apart</a>.  Goldberg’s implementation also incorporates techniques described by <a href="http://www.htmldog.com/articles/suckerfish/dropdowns/">HTMLDog</a>.</p>


<h3>Tabbed Panels</h3>


<p>Goldberg’s implementation of tabbed panels was adapted from 
<a href="http://support.internetconnection.net/CODE_LIBRARY/Javascript_Show_Hide.shtml">InternetConnection</a>.</p>
