<h1>Welcome to Expertiza</h1>
<p>
The Expertiza project is a system for using peer review to create reusable learning objects.  Students do different assignments; then peer review selects the best work in each category, and assembles it to create a single unit.
</p>
