<h1>Goldberg Setup</h1>


<p>This is where you will find all the Goldberg-specific administration and configuration features.  In here you can:</p>


<ul>
  <li>Set up Users.</li>
</ul>


<ul>
  <li>Manage Roles and their Permissions.</li>
</ul>


<ul>
  <li>Set up any Controllers and their Actions for your application.</li>
</ul>


<ul>
  <li>Edit the Content Pages of the site.</li>
</ul>


<ul>
  <li>Adjust Goldberg’s system settings.</li>
</ul>


<h2>Users</h2>


<p>You can set up Users with a username, password and a Role.</p>


<h2>Roles and Permissions</h2>


<p>A User’s Permissions affect what Actions they can perform and what Pages they can see.  And because each Menu Item is based either on a Page or an Action, the Permissions determine what Menu Items the User can and cannot see.</p>


<p>A Role is a set of Permissions.  Roles are assigned to Users.  Roles are hierarchical: a Role can have a parent Role; and if so it will inherit the Permissions of the parent Role, and all its parents.</p>


<h2>Controllers and Actions</h2>


<p>To execute any Action, a user must have the appropriate Permission.  Therefore all Controllers and Actions you set up for your Rails application need to be entered here, otherwise no user will be able to execute them.</p>


<p>You start by setting up the Controller and assigning it a Permission.  The Permission will be used as the default for any Actions invoked for that Controller.</p>


<p>You have the option of setting up specific Actions for the Controllers.  You would want to do that if the Action were to appear as a Menu Item, or if it were to have a different level of security to the default for the Controller.</p>


<h2>Content Pages</h2>


<p>Goldberg has a very simple <span class="caps">CMS</span> built in.  You can create pages to be displayed on the site, possibly in menu items.</p>


<h2>Menu Editor</h2>


<p>Once you have set up your Controller Actions and Content Pages, you can put them into the site’s menu using the Menu Editor.</p>


<p>In the Menu Editor you can add and remove Menu Items and move them around.  The security of a Menu Item (whether the user can see it or not) depends on the Permission of the Action or Page attached to that Menu Item.</p>


<h2>System Settings</h2>


<p>Go here to view and edit the settings that determine how Goldberg operates.</p>
