%h1="Hi ," +@recipient.name

%p="You submitted a score of "+@score+" for assignment "+@assignment.name+" that varied greatly from another "+@role+"'s score for the same "+@item+"."

%p="The Expertiza system has brought this to my attention."

