<h1>Listing question_options</h1>

<table>
  <tr>
  </tr>

<% @question_options.each do |question_option| %>
  <tr>
    <td><%= link_to 'Show', question_option %></td>
    <td><%= link_to 'Edit', edit_question_option_path(question_option) %></td>
    <td><%= link_to 'Destroy', question_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question_option', new_question_option_path %>