#This file contains the CLIENT_KEY & CLIENT_SECRET for Google OmniAuth 2.0

development:
  client_key: '112233445566'
  client_secret: '112233445566'
  enterprise_domain: 'github.ncsu.edu'
  enterprise_client_key: '665544332211'
  enterprise_client_secret: '665544332211'

test:
  client_key: '112233445566'
  client_secret: '112233445566'

# Set these to appropriate values when deploying to production
production:
  client_key: <%= ENV['GITHUB_KEY'] %>
  client_secret: <%= ENV['GITHUB_SECRET'] %>
