<%= error_messages_for 'role' %>

<!--[form:role]-->
<p><label for="role_name">Name</label><br/>
<%= text_field 'role', 'name'  %></p>

<p><label for="role_parent_id">Based on the role</label><br/>
<%= collection_select :role, :parent_id, @other_roles, :id, :name %>
</p>

<p><label for="role_description">Description</label><br/>
<%= text_area 'role', 'description', :rows => 3 %> </p>


<!--[eoform:role]-->

