<<<<<<< HEAD
<<<<<<< HEAD
<ul class="team_members">
<% for user in @users do -%>
  <li class="team_members">
    <div class="name"><%= user.name.strip %></div>
  </li>
<% end -%>
=======
<ul class="team_members">
<% for user in @users do -%>
  <li class="team_members">
    <div class="name"><%= user.name.strip %></div>
  </li>
<% end -%>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
=======
<ul class="team_members">
<% for user in @users do -%>
  <li class="team_members">
    <div class="name"><%= user.name.strip %></div>
  </li>
<% end -%>
>>>>>>> c4cd6ee2acd0c2721114a9165e8bf6050a7dd1ee
</ul>