<ul class="team_members">
  <% @teams_participants.each do |teams_participant| %>
    <li class="team_members">
      <div class="name"><%= teams_participant.participant.user.name(session[:ip]).strip %></div>
    </li>
  <% end %>
</ul>
