<H1>Select Duty</H1>
<%= form_for '/teams_users', method: :get do %>

    <%= select_tag "duty", options_for_select(@assignment_duties) %>

    <input type='submit' value='Save'/>
<% end %>
<br/>
<a href="javascript:window.history.back()">Back</a>