<% @page_title = "Team Members" %>

<% @teams_participants.each do |teams_participant| %>
  <div class="team-member">
    <p><%= teams_participant.participant.user.name(session[:ip]) %></p>
    <p>Duty: <%= teams_participant.duty&.name || 'Not assigned' %></p>
  </div>
<% end %>

<%= link_to 'Add Team Member', new_teams_participant_path(id: @team.id), class: 'btn btn-primary' %>
