<div style="float: left; display: inline-block;">
  <%= will_paginate @versions, :inner_window => 1, :outer_window => 1, :params => {:num_versions => @per_page}%>
</div>

<div style="clear: both;"></div>