<h1>Edit Review</h1>
<%= start_form_tag :action => 'update' %>
<%= render :partial => 'peerReviewContent' %>    
<%= hidden_field_tag('peer_review_id', @peer_review.id) %>
    <br/>
    <%= submit_tag "Save", :name=>"save" %>       
<%= end_form_tag %>
<%= link_to 'Back', :controller => 'student_assignment', :action => 'view_team',  :id => @student.id %>

