<%= error_messages_for 'suggestion' %>

<!--[form:suggestion]-->
<table>
	<tr>
		<td><label for="suggestion_title">Title</label></td>
		<td><%= text_field 'suggestion', 'title' , :size => 75 %></td>
	</tr>
	
	<tr>
		<td><label for="suggestion_topic">Description</label></td>
		<td><%= text_area 'suggestion', 'description',:rows => 10, :cols => 75 %></td>
	</tr>
</table>
<!--[eoform:suggestion]-->

