<h1>New Feedback to Reviewer</h1>
<%= start_form_tag :action => 'create', :id => @review.id %>
<%= render :partial => 'feedback' %>
<br/>
<%= submit_tag "Save Feedback", :name=>"save" %>   
<%= end_form_tag %>
<br/>
<a href="javascript:window.history.back()">Back</a>
