<h1>New Feedback to Reviewer</h1>

<%= start_form_tag :action => 'create_feedback' %>
<%= render :partial => 'feedback' %>
<%= hidden_field_tag('assgt_id', @assgt_id) %>
<%= hidden_field_tag('author_id', @author_id) %>
<%= hidden_field_tag('team_id', @team_id) %>
<%= hidden_field_tag('review_id', @review_id) %>
<%= submit_tag "Create Feedback", :name=>"save" %>       
<%= end_form_tag %>
<br/>
<a href="javascript:window.history.back()">Back</a>
