<% for column in ReviewFeedback.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @review_feedback.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @review_feedback %> |
<%= link_to 'Back', :action => 'list' %>
