<h1>Feedback for <%= @response.mapping.assignment.name %></h1>
<%= @review.display_as_html() %><BR/><BR/>
<%= @response.display_as_html() %>
<BR/>
<a href="javascript:window.history.back()">Back</a>
