<p> Feedback Received from Author </p>
<%= render :partial => 'review/scores' %> 
Additional Comment: <% review_feedback_text = ReviewFeedback.find(:first,:conditions =>["id = ?", @reviewfeedback.id]).additional_comment %>
<br><%= review_feedback_text.gsub(/\n/, '<br>')%><br/>
