
<h1> View Feedback </h1>
<%= render :partial => 'review/scores' %> 
<th>Additional Comment: </th><% review_feedback_text = ReviewFeedback.find(:first,:conditions =>["id = ?", @reviewfeedback.id]).additional_comments %>
<%= review_feedback_text%><br/>


