<table width="100%">
  <tr>
    <!-- non_checkbox -->
    <% responses.each do |response_id| %>
        <% answer = Answer.where(response_id: response_id, question_id: question.id).first %>
        <% if !answer.nil? %>
          <td align="center">
                <p><%= answer.answer %></p>
            <p><%= answer.comments.html_safe unless answer.comments.nil? %></p>
      <% end %>      
    <% end %>
  </tr>
</table>