<div>
  <h3>
    Members of <%= @team.name %>
  </h3>
  <% (1..@assignment.num_review_rounds).each do |round| %>

      <h3>
        <%= "Reviewed by #{User.find(@reviewer_id).fullname} (Round #{round})" %>
      </h3>

      <% instance_variable_get('@scores_round_' + round.to_s).each do |answer| %>
      <!-- display_as_html() does all of the styling for response objects-->
      <%= answer.response.display_as_html() %>
      <% break %>
      <% end %>

    <% end %>

  <br/>
  <div class="footer">
    <%= link_to 'Back', :controller=> 'review_mapping', :action=>'response_report', :id=>params[:assignment_id] %>
  </div>
</div>