<%= error_messages_for 'courses' %>

<!--[form:courses]-->
<table>
  <tr>
    <td valign="top"><label for="course_title">Title</label></td>
    <td><%= text_field 'courses', 'title'  %></td>
  </tr>

  <tr>
    <td valign="top"><label for="course_directory_path">Directory path</label></td>
    <td><%= text_field 'courses', 'directory_path'  %></td>
  </tr>
  <tr>
    <td valign="top"><label for="course_info">Info</label></td>
    <td><%= text_field 'courses', 'info'  %></td>
  </tr>
</table>
<!--[eoform:courses]-->

