<h1>Edit Revision Plan</h1>

<%= render :partial => 'question', :locals => {:questions => @questions,
                                               :questionnaire_type => 'revision plan',
                                               :form_action => 'update_revision_plan'} %>
<br />
<%= render :partial => '/shared_scripts/back' %>