  <%= render :partial => 'add_and_delete_question_script' %>
  <%= form_tag :action => 'create' do %>
    <%= render :partial => 'questionnaire' %>
    <%= submit_tag "Create #{@questionnaire.display_type.downcase}", :name=>"save" %>

    <script>
      for (var x = 1; x <= 5; x++) {
        addQuestion(",",",",",");}
    </script>
  <% end %>
  <br />
  <a href="javascript:window.history.back()">Back</a>
