<H1>Edit Team</H1>

<%= form_tag :action => 'update' %>
<%= hidden_field_tag 'id', @team.id %>
<%= render :partial => 'form'%>
<br/>
<%= link_to 'Back', :controller => 'team', :action => 'list', :id => @team.parent_id %>

