<h1>Assignments</h1>


<% if @assignments.length == 0 %>
   <h4>No team assignments are defined</h4>
<% else %>
<table>
  <tr><th>Title</th><th>Directory Path</th></tr>
<% for assignment in @assignments %>
  <tr>
    <td><%= link_to assignment.name, :action => 'list',
	    :id=> assignment.id %>&nbsp;&nbsp;</td>
    <td><%= assignment.directory_path %></td>
  </tr>
<% end -%>
</table>
<% end %>