<H1>New Team for <%= @parent.name %></H1>

<%= form_tag :action => 'create'%>
<%= hidden_field_tag 'id', @parent.id %>
<%= render :partial => 'form' %>
<BR/>
<%= link_to 'Back', :controller => 'team', :action => 'list', :id => @parent.id %>
