<h1>New Team</h1>

<%= start_form_tag :action => 'create' %>
  <p><label for="team_name">Name</label><br/>
	<%= text_field 'team', 'name'  %></p>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>