<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>

Dear Support,
<BR/><BR/>
A feedback with the following details was submitted:<BR/><BR/>
User email :  <b><%= @email %></b>
<BR/><BR/>
Title :  <b><%= @title %></b>
<BR/><BR/>
Description : <i><%= @description %></i>
<BR/><BR/>
Kindly take required action.
<BR/><BR/>
Thank you,
<BR/>
Expertiza

</body>
</html>