<p>
  Instructors have updated review questions for the the assignment- <strong><%= @assignment_name %></strong>.
</p>
<p>
  You are required to perform the reviews again. Previous reviews will not be accessible.
</p>