Hi
<BR/>
<p>
  Dear Instructor,

  A student has suggested a new topic for project.
  Log into your Expertiza account to check the details -<a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>.
  </p>

