<% if inv.reply_status == 'W' %>
  <tr>
    <td><%= inv.from_user.name(session[:ip]) %></td>
    <td>
      <% Team.includes(:teams_participants)
             .where(teams_participants: { user_id: inv.from_id }, parent_id: @student.assignment.id)
             .each do |team| %>
        <%= team.name %>
      <% end %>
    </td>
    <td>
      <% team_id = @student.team&.id || 0 %>
      <%= link_to 'Accept', accept_invitations_path(inv_id: inv.id, student_id: @student.id, team_id: team_id), 
      data: { confirm: 'Accepting this invitation will relinquish your current topic or waiting list spot. Continue?' } %>
|
      <%= link_to 'Decline', decline_invitations_path(inv_id: inv.id, student_id: @student.id), method: :get %>

    </td>
  </tr>
<% end %>
