<link rel="stylesheet" type="text/css" href="/assets/timeline.css" >
  <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>Submission History of team ID : <%= @participant.team.id %></h1>
          </div>
          <div style="display:inline-block;width:100%;overflow-y:auto;">
            <ul class="timeline timeline-horizontal">
              <% @timeline.each_pair do |key, timemark| %>
              <%# Display timestamps from timeline hash! %>
                <li class="timeline-item">
                  <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= timemark[:heading] %></h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= key %></small></p>
                    </div>
                    <div class="timeline-body">
                      <p><%= timemark[:description] %></p>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>