<tr class="listingRow">
  <td><%= User.find(ta.ta_id).name(session[:ip]) %></td>
  <td><%= link_to "Edit", {:action => 'show', :controller =>'users', :id => ta.ta_id} %></td>
  <td>
    <%= link_to "Delete", { :action => 'remove_ta', :controller =>'courses', :id => ta.id, :course_id => ta.course_id }, method: :post, :remote => true, :class => 'remove_ta' %>
  </td>
</tr>