<div class="main-page">
  <%#= @content_page.content_html %>
  <h1>Welcome.</h1>
  <div class="login-panel">

  <% if not session[:user] %>
   
    <% if session[:user].nil? %>
    <%= render :partial => 'auth/relogin' %><br/> 

    <% else %>
      <% if session[:user].role_id == 4 || session[:user].role_id == 3 || session[:user].role_id == 2 %>
        <%= link_to "Search log", Version %></a>
      <% end %>
    <% end %>

    <div>
    </div>
  <% end %>
  </div>

</div>
