Hi <%= @first_name %>,

<p>Reset your password, and we'll get you on your way.</p>

<p>To change your password, click or paste the following link into your browser:</p>

<%= @password %>

<p>The link will expire in 24 hours, so be sure to use it right away.</p>

