<!-- E1758 Fall 17-->
Hi <%= @first_name %>,<BR/>
<BR/>
<p>
  You have been invited by someone to join their team.
  
  Log into your Expertiza account to check the details -<a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>.
  </p>

User Name: <%= @user.name %><BR/>
E-mail address:<%= @user.email %><BR/>
