<!-- E1758 Fall 17-->
Hi,<BR/>
<BR/>
<p>
  Your invitation to join the team has been accepted.
  
  Log into your Expertiza account to check the details -<a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>.
  </p>
