<table>
    <tr>
        <th>Questions</th><th>Comments</th><th>Score</th>
    </tr>
    <% for @rs in @ror_review_scores %>
        <tr>
            <td>
                <%=Question.find(@rs.question_id).txt%>                
            </td>
            <td>
                <%=@rs.comments%>
            </td>
            <td><%=@rs.score%></td>
        </tr>
    <% end %>
</table>