<h1>Metareview for <%= @assignment.name %></h1>
<%= render :partial => 'review/submitted_content' %>
<br/>	
<%= @review.display_as_html() %>
<br/><br/>
<%= @review_of_review.display_as_html() %>
<br/>
<br/>
<%= link_to 'Back', :controller => 'review', :action => 'list_reviews', :id => @assignment.id %>

