<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
<script>
  $(document).ready(function() {
$('#logger').DataTable();
} );
  </script>
<h1>Log Viewer</h1>

<% sl =1 %>
<table id="logger">
    <tr >

      <th>SL Number</th>
      <th>Log Entry</th>
    </tr>
    <% @logArray.each do |entry| %>
    <tr>

      <td><%= sl %></td>


      <td><%= entry %></td>
     
    </tr>
    <% sl = sl+1 %>
    <% end %>
  </table>
</body>
</html>


