<TD WIDTH="15%" align = "center">
<%= link_to image_tag("delete_icon.png", :border=>0, :alt => "Delete Team Member", :title => "Delete Team Member"), :controller=> 'teams_participants', :action=>'delete', :id => node.node_object_id %>
</TD>