<br/>
<label for="Export Fields">Export : <br/></label><br/>
<%= check_box 'options', 'team_name', {:checked => 'unchecked'}, "true", "false" %>
<label for="Export Fields">Team Name Only</label><br/>
<br/>