<h1>Editing Markup Style</h1>

<% form_tag :action => 'update', :id => @markup_style do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @markup_style %> |
<%= link_to 'Back', :action => 'list' %>
