<% for column in MarkupStyle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @markup_style.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @markup_style %> |
<%= link_to 'Back', :action => 'list' %>
