<h2>Sample Submissions for "<%= @assignment_name %>"</h2>
<ul>
  <% @assignment_teams.each do |assignment_team| %>
      <li>
        <ul>
          <h3>Team name : <%=assignment_team.name%></h3>
          <% assignment_team.hyperlinks.each do |assignment_link| %>
                  <%if assignment_link.strip! !="" and assignment_link.strip! !="--- []"  %>
                    <li><a href="<%=assignment_link%>"><%=assignment_link%></a></li>
                  <%end%>
          <%end%>
        </ul>
      </li>
  <% end%>
</ul>
<br><br>
<a href="javascript:window.history.back()">Back</a>
