<h2>Reviews for "<%= @assignment.name %>"</h2>
<ul>
  <% mappings do |map| %>
      <li>
        <ul>
          <li>map.team_name </li>
          <% map.links.seach do |assignment_link| %>
              <li>assignment_link.url</li>
          <% end%>
        </ul>
      </li>
  <% end%>
</ul>
<br><br>
<a href="javascript:window.history.back()">Back</a>
