// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
  border: 1px solid black;
  text-align:center;
  vertical-align:middle;
}

.search_bar{
  margin: 1%;
  float: right;
}