@import "font-awesome";
@import "jquery.ui.all";
@import "jquery.datetimepicker";
@import "ajaxtabs";
@import "balloontip";
@import "dddropdownpanel";
@import "flash_messages";
@import "grades";
@import "goldberg";
@import "layout";
@import "redbox";
@import "react-simpletabs/dist/react-simpletabs";
@import "jquery.datetimepicker";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "navbar";
@import "tree_display";
@import "awesomplete";
@import "user_pastebins";
@import "login_form";
@import "jsgrid/css/jsgrid";
@import "jsgrid/css/theme";

.jsgrid-grid-body {

    overflow-x: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
}

.jsgrid-table {
    width: 150%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 10px;


}


.jsgrid-header-row{
	font-size: 10px;
  overflow-y: auto;

}

.jsgrid-grid-header {
overflow-y: auto;
}

.jsgrid-cell {
    padding: 0.5em 0.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}