.custom-button {
    display: inline-block;
    padding: 5px 5px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font: Arial;
}