// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.feedback {
  text-overflow: ellipsis;
  padding-right: 30px;
  padding-bottom: 5px;
}
th.feedback {
  padding-right: 30px;
  padding-bottom: 5px;
}