/*

Styles for the leaderboard table
These styles adapted from http://robertdenton.org/reference/css-tables-tutorial.html

*/

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
font-family: Verdana, sans-serif, Arial;
font-weight: bold;
font-size: 12px;
color: #404040; }

td.selfRef
{ border-left: 1px solid #6699CC;
border-bottom: 1px solid #6699CC;
background-color: #00FA9A;
text-align: center;
font-family: Verdana, sans-serif, Arial;
font-weight: bold;
font-size: 12px;
color: #404040; }

td.noSelfRef
{ border-left: 1px solid #6699CC;
border-bottom: 1px solid #6699CC;
background-color: #fafafa;
text-align: center;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 12px;
color: #404040; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 12px;
color: #404040;
width: 275px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 