/**
* stylesheet for changes specific to review form page
* includes css changes for star rating
**/

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color:  #986633
;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color:  #986633
;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}

@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}


.br-wrapper.br-theme-fontawesome-stars .br-widget{
  float: left;
  position: absolute;
  width: 18%;
}

.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: block;
  line-height: 1.3;
  color:  #986633;
  font-size: 17px;
  font-weight: 400;
  top: 0px;
  float: right;
}

#save_progress{
  float: right;
}

#tick{
  font-size: 25px;
  color: forestgreen;
}
.mark-unmark-sample-button{
  margin-top:25px;
}
.mark-unmark-sample-result{
  text-align:center;
  color:red;
  font-size:13px;
}
.mark-unmark-sample-result.success{
  color:green
}
.link-assignments-head{
  text-align:right;
}
#link_assignments{
  top: 20px;
  color:#986633;
  cursor:pointer;
}
#link_assignments_error{
  color: red;
  overflow:hidden;
  display:inline-block;
}
#link_assignments_success{
  color: green;
  overflow:hidden;
  display:inline-block;
}
.popup-container{
  text-align:center;
  position: fixed;
  top: 150px;
}
#similar_assignments_popup{
  border-style: solid;
  background-color: rgb(170, 10, 10);
  color: rgb(255, 255, 255);
}
#similar_assignments_popup strong{
  font-size: 13.4px;
}
#similar_assignments_popup a{
  color:white;
}
.popup-list-container{
  background-color: white;
  color: black;
  text-align: left;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.popup-list-container ul{
  list-style-type:none;
}
.popup-list-container li{
  border-bottom:solid;
  cursor:pointer;
}
.popup-list-container span{
  display: inline-block;
  width: 90%;
}
#similar_assignments_popup button{
  margin-bottom: 5px;
  background-color: rgb(170, 10, 10);
  color: rgb(255, 255, 255);
}