.arrow_icon{
    width: 20px;
    height: 20px;
}
.table_stretch{
    width: 100%;
}

.fake-link {
    font-size: smaller;
    color: #94672d;
    cursor: pointer;
}

.fake-link-large {
    font-size: larger;
    color: #94672d;
    cursor: pointer;
}

.fake-link-large:hover{
    text-decoration: underline;
    color: #eb0000;
    cursor: pointer;
}