#timeModalBody{
    overflow: auto;
    height:100%;
}

.time-canvas-container{
    width: 250px !important;
    height: 250px !important;
    margin: auto;
}

.time-table {
    margin: 10px auto;
    width: 100%;
    border: none;
}

#timeTableBody tr:nth-child(even) {
    background-color: #eee;
}

#timeTableBody tr:nth-child(odd) {
    background-color: lightgrey;
}

#timeTable th {
    background-color: darkred;
    color: white;
}

#timeTable td {
    padding: 0.6em;
    color: black;
}

.stat-table {
    margin: 10px auto;
    width: 100%;
    border: none;
}

#statTableBody tr:nth-child(even) {
    background-color: #eee;
}

#statTableBody tr:nth-child(odd) {
    background-color: lightgrey;
}

#statTable th {
    background-color: darkred;
    color: white;
}

#statTable td {
    padding: 0.6em;
    color: black;
}

.t-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    height:700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkred;
    color: white;
}

.modal-body {padding: 2px 16px;}