.tab-system > .tab-panel {
  padding: 10px 0;
}

tr > .toggleDiv {
  display: inline-block;
}

.new-button {
  margin: 0 5px;
}

.filterable_table {
  span.show-checkbox {
    margin: 0 5px;
  }
}

.tabs-menu-item > a {
  font-size: 1.2em;
}

.questionnaire-button {
  margin: 0 5px;
}