<% form_tag :controller => 'review_mapping',
            :action => 'assign_reviewer_dynamically',
            :assignment_id => assignment.id,
            :reviewer_id => session[:user].id do %>

  <% unless assignment.sign_up_topics.empty? %>
    <p><b>Select a topic below to begin a new review:</b></p>
  
    <% assignment.candidate_topics_to_review.each do |topic| %>
      <%= radio_button_tag 'topic_id', topic.id %> <%= topic.topic_identifier %>: <%= topic.topic_name %><br>
    <% end %>
  <% end %>
  <br>
  <input type='submit' value='Request a new submission to review'/>
<% end %>

