<% currentUser = session[:user] %>

<% form_tag :controller => 'review_mapping', :action => 'add_dynamic_reviewer', :assignment_id => assignment.id, :reviewer_id => session[:user].id do %>
  <p>
    Select a topic below to begin a new review
  </p>
  
  <% assignment.sign_up_topics.each do |topic| %>
    <%= radio_button_tag 'topic_id', topic.id %> <%=h topic.topic_name %><br>
  <% end %>
  
  <br>
  <input type='submit' value='Request a New Submission to Review'/>
<% end %>

