<% if @assignment.review_allowed(@reviewee_topic_id) or @assignment.get_current_stage() == "Complete" %>
  <h3>Reviews for <%= @assignment.name %></h3>
  <%= render :partial => 'responses', :locals => {:mappings => @review_mappings, :title => 'Review'} %>
<% else %>
  <h3>Reviews cannot be performed at this time</h3>
<% end %>
<BR/>
<% if @assignment.metareview_allowed(@meta_reviewee_topic_id) or @assignment.get_current_stage() == "Complete" %>
  <h3>Metareviews for <%= @assignment.name %></h3>
  <%= render :partial => 'responses', :locals => {:mappings => @metareview_mappings, :title => 'Metareview'} %>
<% else %> 
  <h3>Metareviews cannot be performed at this time</h3>
<% end %>
<BR/>
<a href="javascript:window.history.back()">Back</a>