<h3> Badges </h3>
<ul>
	<li>Good Reviewer Badge  : <br><img height = 'auto' width = '50px' src='/assets/badges/goodReviewer.png'/>
	Threshold: <input type="text" name="GoodReviewerThreshold" id="GoodReviewerThresholdInput"/></li>
	<li>Good Teammate Badge : <br><img height = 'auto' width = '50px' src='/assets/badges/goodTeammate.png'/>
	Threshold: <input type="text" name="GoodTeammateThreshold" id="GoodTeammateThresholdInput"/></li>
</ul>
