<table>
  <tr id='assignment_review_assignment_strategy_row'>
    <td>
      <%= label_tag('assignment[review_assignment_strategy]', 'Review Strategy:') %>
      <%= select('assignment', 'review_assignment_strategy', review_strategy_options, {:include_blank => '----', :selected => @assignment.review_assignment_strategy}) %>
      <script>
        jQuery(document).ready(function() {reviewStrategyChanged();});
          jQuery('#assignment_review_assignment_strategy').on('change', function() {reviewStrategyChanged();});
      </script>

      <img src="/assets/info.png" title="- Instructor-Selected: Instructor decides who reviews whom
      - Student-Selected: Students choose from a list of assignments or topics to review.
      - Auto-Selected: When a student is about to begin a review, Expertiza assigns that student a particular review.">
    </td>
  </tr>


  <tr><td><a href="<%= './review_strategy_advanced_options' %>">Advanced Options</a></td></tr>

</table>
