<%= @first_name %>,<BR/>
<BR/>
<p>Your key for digitally signing changes to Expertiza publishing rights follows. 
Cut and paste this key when prompted in Expertiza.</p>

Account: <%= @user.name %><BR/>
E-mail address:<%= @user.email %><BR/><BR/>
Private key: <BR/> 
<%= @pkey %><BR/>