Hi <%= @first_name %>,<BR/>
<BR/>
<p>
Your Expertiza account has been created at <a href="http://expertiza.ncsu.edu">http://expertiza.ncsu.edu</a>.
We strongly recommend that you change the password the first time you access the application.
</p>

User Name: <%= @user.name %><BR/>
E-mail address:<%= @user.email %><BR/><BR/>
New password: <%= @password %><BR/>
