<hr/>
<p><strong>Handle</strong></p>
<p></p>A "handle" can be used to conceal your username from people who view your wiki pages. If you have a handle,
your wiki account should be named after your handle instead of after your user-ID.  If you do not have a handle,
your Expertiza user-ID will be used instead. A blank entry in the field below will cause the handle to be set back to your Expertiza user-ID. 
</p><p><em>Note:</em>  By using this form, you are changing your <em>default handle</em>, which will be used for all
<em>future</em> assignments.  To change your handle for a specific assignment, select that assignment and choose the <I>Change Handle</I>
action.</p> 
<p><label for="handle">Default handle</label><br/>
<%= text_field 'user','handle' %></p>
