<hr/>
<p>The handle is used for Wiki assignments and other activities. By default
your handle is your account ID. A blank entry in this field will cause this default to be used. 
To change your handle for an assignment, select that assignment and choose the <I>Change Handle</I>
action.</p> 
<p><label for="handle">Default handle</label><br/>
<%= text_field 'user','handle' %></p>
