<hr/>
<p>Specify a percent value greater than 0 in this field to receive notifications
   when a new review is created which is outside the current range by the 
   given amount. The value can be set on a per assignment, 
   per questionnaire basis through the Manage Assignments page.</p> 
<p><label for="assignment_questionnaire">Notification Percentage</label><br>
<%= text_field 'assignment_questionnaire', 'notification_limit',:size => 10 %>%</p>
