<!-- Partial view for rendering response maps -->
<tr>
  <!-- Render partial view corresponding to the overall score awarded to a team -->
  <td align='left'>
    <% data[:response_maps].each_with_index do |reviewer_map, index| %>
      <% if Team.where(id: reviewer_map.reviewee_id).length > 0 %>
        <% @team = Team.find(reviewer_map.reviewee_id) %>
        <%= render partial: 'team_score_score_awarded', locals: {bgcolor: @bgcolor, team_id: @team.id, reviewer_id: reviewer.id} %>
      <% end %>
    <% end %>
  </td>
  <!-- Render partial view corresponding to the average score awarded to a team -->
  <td align='left'>
    <% data[:response_maps].each_with_index do |reviewer_map, index| %>
      <% if Team.where(id: reviewer_map.reviewee_id).length > 0 %>
        <% @team = Team.find(reviewer_map.reviewee_id) %>
        <%= render partial: 'team_score', locals: {bgcolor: @bgcolor, team_id: @team.id, reviewer_id: reviewer.id} %>
      <% end %>
    <% end %>
  </td>
</tr>
