<table id="myTable" class="tbl_heat tablesorter" width="100%" cellspacing='0' cellpadding='2' border='0'>
  <thead>
  <tr bgcolor='#CCCCCC'>
    <!-- class value decides whether the column should be sortable or not  -->
    <th width="30%" class="sorter-true">Team <span></span></th>
    <th width="30%" class="sorter-false">Reviewers <span></span></th>
    <th width="40%" class="sorter-true">Metrics <span></span></th>
  </tr>
  </thead>
  <tbody>
  <%@reviewers.keys.each do |team| %>
    <tr>
      <td>
          <%= team %>
      </td>
      <td>
        <%question_answers = get_reviews_score_for_team(@id, team) %>
        <% i = 1 %>
        <% question_answers.each do |question_answer| %>
          <div style="border-top: solid; border-width: 1px;">
            <%= "Round: " + i.to_s %>
            <% question_answer.each do |reviewer, answer| %>
              <div>
                <%= @reviewers[team.to_s][reviewer.to_s].to_s + ": " + answer.to_s %>
              </div>
            <% end %>
          </div>
          <% i+=1 %>
        <% end %>
      </td>
      <td>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>