<table id="myTable" class="tbl_heat tablesorter" width="100%" cellspacing='0' cellpadding='2' border='0'>
  <thead>
  <tr bgcolor='#CCCCCC'>
    <!-- class value decides whether the column should be sortable or not  -->
    <th width="16%" class="sorter-true">Team <span></span></th>
    <th width="10%" class="sorter-false">Reviewers <span></span></th>
    <th width="24%" class="sorter-false">Team reviewed <span></span></th>
    <th width="13%" class="sorter-false">Score awarded / Avg. score <span></span></th>
    <th width="13%" class="sorter-true">Metrics <span></span></th>
    <th class="sorter-false">Assign grade and write comments <span></span></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>