<% get_time_spent_on_review_for_certain_team_for_each_round(map_id) %>
<div class="modal fade" id="chartModal" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Time Distribution</h4>
        </div>
        <div class="modal-body">
           <div id="chartContainer" style="height: 360px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
<!--td bgcolor=<%= bgcolor %> align='left' -->
  <% (1..@assignment.num_review_rounds).each do |round| %>
      <% if ((instance_variable_get("@time_spent_round_" + round.to_s)).to_f) > 0  %>
        <!--%=link_to sprintf("%.2f",instance_variable_get("@time_spent_round_" + round.to_s)), :controller => 'popup', :action => 'reviewer_details_popup', :id => id, :assignment_id=>@id %-->
        <a data-toggle="modal" data-target="#chartModal"><%=sprintf("%.2f",instance_variable_get("@time_spent_round_" + round.to_s))%></a>
        <%else%>
          ---
      <% end %>
    <%= ', ' unless round == @assignment.num_review_rounds %>
  <%end%>
<!--/td-->