<table>
  <tr>
  	<th>Date</th>
	<th>From</th>
	<th>To</th>
	<th>Subject</th>
	<th>Body</th>
  </tr>
	<% for email in ActionMailer::Base.deliveries %>
    <tr>
	  <td><%= email.date.to_s %></td>
	  <td><%= email.from.to_s %></td>
	  <td><%= email.to.to_s %></td>
	  <td><%= email.subject.to_s %></td>
	  
	</tr> 
	<tr height=15px><td colspan=5>&nbsp;</td></tr> 
	<% end %>
  </tr>
</table>