<br/>
<div class="flash_note alert alert-success">Select an assignment from the list
  or set <strong><%= link_to 'publishing rights', :controller => 'publishing', :action => 'view' %></strong> for your work.
</div>
<br/>
