<link rel="stylesheet" type="text/css" href="timeline.scss">


<ul class="timeline" id="timeline">
  <% @dues.each do |due| %>
  <li class="li complete">
    <div class="timestamp">
      <span class="author"><%= due.assignment.name %></span>
      <span class="date"><%= due.due_at %><span>
    </div>
    <div class="status">
      <h4> <%= due.deadline_type.name %></h4>
    </div>
  </li>
     <% end %>
 </ul>
