name: RuboCop

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: default doc job cable storage ujs test db

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby 2.3.8
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.3.8
        bundler-cache: true
        action_config_path: ".github/config/rubocop_linter_action.yml"
    - name: Run RuboCop
      run: bundle exec rubocop --parallel --only Lint,Layout --except Layout/LineLength app/ lib/
