<h1>New rubric</h1>

<%= start_form_tag :action => 'create_rubric' %>
  	<%= render :partial => 'rubric' %>
  	<%= submit_tag "Create Rubric", :name=>"save" %>
	<img src="http://localhost:3000/images/logo.jpg" onLoad="for (var x = 1; x <= 5; x++)
	   															{addQuestions();}" width=1 height=1>
<%= end_form_tag %>
<br />

<%= link_to 'Back', :action => 'list' %>
